---
layout: default
---
<div id="landingpage">
  <div id="landingpage-banner">
    <div id="landingpage-banner-headline">{{ site.title }}</div>
    <div id="landingpage-banner-text">{{ site.description }}</div>
  </div>

  <div id="content">
    <div id="pageoverview" class="container">
      {% assign category_chunks = site.data['sitemap'] | chunked_array: 3 %}
      {% for category_chunk in category_chunks %}
        <div class="row">
        {% for category in category_chunk %}
          <div class="col-sm-4">
            <ul class="pageoverview-category">
              <li class="pageoverview-headline">{{ category.title }}</li>
              {% for page in site.pages %}
                {% if page.title != null and page.category == category.key %}
                  <li class="pageoverview-entry">
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    {% if page.hot %}<span class="label label-danger">HOT</span>{% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
