---
layout: default
---
<div id="landingpage">
  <div id="landingpage-banner">
    <div id="landingpage-banner-headline">The Developer Program</div>
    <div id="landingpage-banner-text">
      You are a developer and have a brilliant idea for an app that would perfectly fit for our online shop merchants? The ePages API helps you along with that.
      Would you like to develop a shop design? Our documentation gives examples, references and how-to's for your upcoming work.
      We'd love you to join our Developer Program! Let's jump right in!
    </div>
  </div>

  <div id="content">
    <div id="pageoverview" class="container">
      {% assign category_chunks = site.data['sitemap'] | chunked_array: 3 %}
      {% for category_chunk in category_chunks %}
        <div class="row">
        {% for category in category_chunk %}
          <div class="col-sm-4">
            <ul class="pageoverview-category">
              <li class="pageoverview-headline">{{ category.title }}</li>
              {% for entry in category.entries %}
                {% if entry.page %}
                  {% for page in site.pages %}
                    {% if entry.page == page.key %}
                      <li class="pageoverview-entry">
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                        {% if page.hot %}<span class="label label-danger">HOT</span>{% endif %}
                      </li>
                    {% endif %}
                  {% endfor %}
                {% elsif entry.link %}
                  <li class="pageoverview-entry">
                    <a href="{{ entry.link.url }}">{{ entry.link.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
