[class^="icon-"], [class*=" icon-"] {
  font-family: 'epages';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon-setup3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0041;&nbsp;'); }
.icon-design { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0042;&nbsp;'); }
.icon-house { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;'); }
.icon-fruit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;'); }