 
.icon-setup3:before { content: '\u0041'; } /* '' */
.icon-design:before { content: '\u0042'; } /* '' */
.icon-house:before { content: '\e802'; } /* '' */
.icon-fruit:before { content: '\e803'; } /* '' */