defaults: &defaults
  working_directory: ~/repo

deploy: &deploy
  docker:
    - image: circleci/python:3.6.3
  steps:
    - attach_workspace:
        at: ./
    - run:
        name: Install AWS CLI
        command: pip install awscli --upgrade --user
    - run:
        name: Download epages-devportal
        command: |
          ~/.local/bin/aws s3 sync s3://$S3_BUCKET_NAME ./_site --exclude "apps/*" \
                                                                --exclude "soap/*" \
                                                                --exclude "assets/fonts/*" \
                                                                --exclude "assets/images/*" \
                                                                --exclude "assets/javascript/*" \
                                                                --exclude "assets/styles/*" \
                                                                --exclude "robots.txt"
    - run:
        name: Upload to S3
        command: ~/.local/bin/aws s3 sync ./_site s3://$S3_BUCKET_NAME/ --size-only --delete --acl public-read

version: 2

jobs:
  build_test:
    <<: *defaults
    docker:
      - image: circleci/ruby:2.4.2
    environment:
      BUNDLE_PATH: ~/repo/vendor/bundle
    steps:
      - checkout
      - restore_cache:
          keys:
            - rubygems-v1-{{ checksum "Gemfile.lock" }}
            - rubygems-v1-fallback
      - run:
          name: Bundle Install
          command: bundle install
      - run:
          name: Jekyll build
          command: bundle exec jekyll build
      - run:
          name: Test
          command: bundle exec rake test_ci
      - save_cache:
          key: rubygems-v1-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - persist_to_workspace:
          root: ./
          paths:
            - ./_site

  deploy_production:
    <<: *defaults
    environment:
      S3_BUCKET_NAME: developer.epages.com
    <<: *deploy

  deploy_staging:
    <<: *defaults
    environment:
      S3_BUCKET_NAME: staging.developer.epages.com
    <<: *deploy

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - build_test
      - deploy_production:
          requires:
            - build_test
          filters:
            branches:
              only: master
      - deploy_staging:
          requires:
            - build_test
          filters:
            branches:
              only: develop
