<div class="cookie-notice__backdrop">

  <div class="cookie-notice">

    <h3 class="cookie-notice__title">Cookie settings</h3>

    <div class="cookie-notice__info">
      Our website uses cookies to improve your user experience. Some cookies are
      required for the basic functionality of the website while other cookies help
      us to improve our content and layout. You can agree to all cookies by selecting
      "Accept all" or you can select "Accept required" to confirm only the required ones.
      Further information can be found in our
      <a target="_blank" href="https://epages.com/es/proteccion-datos/">Data protection declaration</a>.
    </div>

    <div class="cookie-notice__actions">
      <a class="cta cta--secondary cookie-notice__actions--reject">Accept required</a>
      <a class="cta cta--primary cookie-notice__actions--accept">Accept all</a>
    </div>

  </div>

</div>
