<footer id="footer" class="container-fluid">
  <div class="container text-center">
    <div class="row logo">
        <a href="http://www.epages.com" title="ePages GmbH"><img src="/assets/logos/epages-logo-white.png" alt="logo" width="140px"></a>
    </div>
    <div class="row locations">
      <ul>
        <li class="hamburg">Hamburg</li>
        <li class="barcelona">Barcelona</li>
        <li class="newyork">New York</li>
        <li class="london">London</li>
        <li class="jena">Jena</li>
      </ul>
    </div>
    <div class="row social">
      <ul>
        <li class="linkedin"><a href="http://www.epages.com/linkedin" title="LinkedIn"><span class="glyphicon icon-linkedin"></span></a></li>
        <li class="youtube"><a href="http://www.epages.com/youtube" title="YouTube"><span class="glyphicon icon-youtube"></span></a></li>
        <li class="twitter"><a href="http://www.epages.com/twitter" title="Twitter"><span class="glyphicon icon-twitter"></span></a></li>
        <li class="facebook"><a href="http://www.epages.com/facebook" title="Facebook"><span class="glyphicon icon-facebook"></span></a></li>
        <li class="xing"><a href="http://www.epages.com/xing" title="XING"><span class="glyphicon icon-xing"></span></a></li>
      </ul>
    </div>
    <div class="row links">
      <ul>
        <li><a href="http://epages.com/devjobs">Join the Force</a></li>
        <li><a href="https://www.epages.com/about-us/">About us</a></li>
        <li><a href="http://blog.epages.com/en/">epages Blog</a></li>
      </ul>
    </div>
    <div class="row copyright">
      <p>
        © 2017&nbsp;ePages&nbsp;GmbH · Pilatuspool&nbsp;2 · 20355&nbsp;Hamburg · Germany · +49-40-350&nbsp;188-0
        <br>
        <a href="https://www.epages.com/contact/">Contact</a> ·
        <a target="_blank" href="http://epages.com">epages.com</a> ·
        <a href="mailto:info@epages.com">info@epages.com</a> ·
        <a href="https://www.epages.com/terms-conditions/">Terms &amp; Conditions</a> ·
        <a href="https://www.epages.com/legal-notice/">Legal Notice</a> ·
        <a href="https://www.epages.com/data-privacy-protection/">Data Privacy Protection</a> ·
        <a href="https://www.epages.com/release-notes/">Release Notes</a>
      </p>
    </div>
  </div>
  <script src="/assets/javascript/lightbox.js"></script>
  <script>
    lightbox.option({
      'resizeDuration': 0,
      'wrapAround': true
    })
</script>
</footer>
