<footer>
  <div class="container">
    <div class="container logo">
      <div class="row">
        <div class="col-sm-12">
          <a href="http://www.epages.com" title="ePages GmbH">
            <span class="glyphicon icon-epages"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="container locations hidden-xs">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 locationBorder">
          <div class="spacer20"></div>
          <ul>
            <li>Hamburg</li>
            <li>Barcelona</li>
            <li>New York</li>
            <li>London</li>
            <li>Jena</li>
          </ul>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class="row social">
      <div class="spacer60"></div>
      <div class="col-sm-12 center">
        <ul class="socialmedia">
          <li><a href="https://twitter.com/epagesdevs" title="Twitter"><span class="icon-twitter"></span></a></li>
          <li><a href="https://www.xing.com/companies/epagesgmbh" title="XING"><span class="icon-xing"></span></a></li>
          <li><a href="https://www.linkedin.com/company/epages" title="LinkedIn"><span class="icon-linkedin"></span></a></li>
          <li><a href="https://www.youtube.com/user/ePagesVideos" title="YouTube"><span class="icon-youtube"></span></a></li>
        </ul>
      </div>
    </div>
    <div id="footer-info">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
          <ul>
            <li><a href="http://epages.com/devjobs">Join the Force</a></li>
            <li><a href="http://www.epages.com/en/company/">About us</li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul>
            <li><a href="http://www.epages.com/de/features/release-notes/">Release Notes</a></li>
            <li><a href="http://www.epages.com/de/features/roadmap/">Roadmap</li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul>
            <li><a href="http://blog.epages.com/">epages Blog</a></li>
            <li><a href="http://www.epages.com">epages.com</li>
          </ul>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <div id="footer-legal">
      <div>
        &copy; 2015 ePages GmbH ·
        Pilatuspool 2 ·
        20355 Hamburg ·
        Germany ·
        +49-40-350 188-0
      </div>
      <div>
        <a href="http://epages.com/">epages.com</a> ·
        <a href="mailto:developer.support@epages.com">developer.support@epages.com</a> ·
        <a href="http://epages.com/de/agb/">Terms & Conditions</a> ·
        <a href="http://epages.com/de/impressum/">Legal Notice</a> ·
        <a href="http://epages.com/de/datenschutz/">Data Privacy Protection</a>
      </div>
    </div>
  </div>
</footer>
<a class="back-to-top" style="display: inline;" href="#"><span class="icon-arrowup"></span></a>
<script>
jQuery(document).ready(function() {
    var offset = 250;
    var duration = 300;
    jQuery(window).scroll(function() {
        if (jQuery(this).scrollTop() > offset) {
            jQuery('.back-to-top').fadeIn(duration);
        } else {
            jQuery('.back-to-top').fadeOut(duration);
        }
    });

    jQuery('.back-to-top').click(function(event) {
        event.preventDefault();
        jQuery('html, body').animate({scrollTop: 0}, duration);
        return false;
    })
});
</script>
