<footer class="footer">
  <div class="footer-wrapper">

    <div class="row  row--logo">
      <a href="https://epages.com" target="_blank">
        <img src="/assets/img/logo_epages_white.svg" alt="ePages Logo" class="logo  logo--epages">
      </a>
    </div>

    <div class="row  row--social">
      <a href="https://twitter.com/{{site.twitter_username}}" target="_blank">
        <img src="/assets/img/icons/twitter_white.svg" alt="Twitter Icon" class="icon  icon--twitter">
      </a>
      <a href="https://github.com/{{site.github_username}}" target="_blank">
        <img src="/assets/img/icons/github_white.svg" alt="Github Icon" class="icon  icon--github">
      </a>
      <a href="https://youtube.com/channel/{{site.youtube_username}}" target="_blank">
        <img src="/assets/img/icons/youtube_white.svg" alt="YouTube Icon" class="icon  icon--youtube">
      </a>
      {% assign url = page.url | split: '/' %}
      {% if url[1] == 'blog' %}
        <a href="/blog/feed.xml" target="_blank">
          <img src="/assets/img/icons/rss_white.svg" alt="RSS Icon" class="icon  icon--rss">
        </a>
      {% endif %}
    </div>

    <div class="row  row--links">
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="/apps/" class="navigation__link">Docs</a>
          </li>
          <li class="navigation__item  navigation__item--spacer">&middot;</li>
          <li class="navigation__item">
            <a href="/blog/" class="navigation__link">Blog</a>
          </li>
          <li class="navigation__item  navigation__item--spacer">&middot;</li>
          <li class="navigation__item">
            <a href="/devjobs/" class="navigation__link">Jobs</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="row  row--impress">
      <ul class="list">
        <li class="list__item">&#169; {{ 'now' | date: "%Y" }} ePages GmbH</li>
        <li class="list__item  list__item--spacer">&middot;</li>
        <li class="list__item">Pilatuspool 2</li>
        <li class="list__item  list__item--spacer">&middot;</li>
        <li class="list__item">20355 Hamburg</li>
        <li class="list__item  list__item--spacer">&middot;</li>
        <li class="list__item">Germany</li>
        <li class="list__item  list__item--spacer">&middot;</li>
        <li class="list__item">+49-40-350 188-0</li>
        <br>
        <li class="list__item"><a href="https://epages.com/contact" target="_blank" class="list__link">Contact</a></li>
        <li class="list__item  list__item--spacer">&middot;</li>
        <li class="list__item"><a href="/terms-and-conditions/" class="list__link">Terms &amp; Conditions</a></li>
        <li class="list__item  list__item--spacer">&middot;</li>
        <li class="list__item"><a href="https://www.epages.com/legal-notice/" target="_blank" class="list__link">Legal Notice</a></li>
        <li class="list__item  list__item--spacer">&middot;</li>
        <li class="list__item"><a href="https://www.epages.com/data-privacy-protection/" target="_blank" class="list__link">Data Privacy Protection</a></li>
        <li class="list__item  list__item--spacer">&middot;</li>
        <li class="list__item"><a href="https://www.epages.com/release-notes/" target="_blank" class="list__link">Release Notes</a></li>
      </ul>
    </div>

  </div>
</footer>
