<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">
        <img src="{{ "/assets/images/epages-logo.png" | prepend: site.baseurl }}" alt="ePages" width="119" height="28" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ "/pages/apps/index.html" | prepend: site.baseurl }}">Apps</a></li>
        <li><a href="{{ "/pages/themes/index.html" | prepend: site.baseurl }}">Themes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.github_url }}">Join us on GitHub</a></li>
        <li><a href="{{ "/pages/faq.html" | prepend: site.baseurl }}">FAQ</a></li>
        <li><a href="{{ "/search.html" | prepend: site.baseurl }}">Search</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="landingpage">
  <div id="landingpage-banner">
    <div id="landingpage-banner-headline">{{ site.data['landingpage'].header.title }}</div>
    <div id="landingpage-banner-text">{{ site.data['landingpage'].header.text }}</div>
    <div id="landingpage-banner-search">
      <form id="search-form" autocomplete="off">
        <div class="form-group">
          <input id="search-box" type="text" placeholder="Enter your search here" class="form-control"/>
        </div>
      </form>
      <button type="submit" class="btn btn-search">Search</button>
    </div>
  </div>
  
<script type="text/javascript" src="{{ '/assets/javascript/searchform.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  SearchForm('{{ '/search.json' | prepend: site.baseurl }}', '#search-form', '#search-box', '#search-results');
</script>

