<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/assets/styles/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <script type="text/javascript" src="{{ "/assets/javascript/jquery.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/javascript/knockout.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/javascript/bootstrap.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/javascript/utils.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/assets/javascript/search.js" | prepend: site.baseurl }}"></script>
</head>
