<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" type="image/png" href="/assets/images/logos/favicon.ico" sizes="32x32">

  <title>{% if page.permalink == '/' %}{{ site.title }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}</title>

  {% if site.data.seo.apps.description %}<meta name="description" content="{{ site.data.seo.apps.description }}">{% endif %}
  {% if site.data.seo.apps.keywords %}<meta name="keywords" content="{{ site.data.seo.apps.keywords | join: ', ' }}">{% endif %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i">

  <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
  <link rel="stylesheet" href="/assets/styles/lightbox.css">

  <link rel="stylesheet" href="/assets/styles/main.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71308214-1', 'auto');

    ga('send', 'pageview');
  </script>

</head>
