{% assign chapter = page.url | regex_extract: '^/([^/]+)/' %}
{% assign beta = "apps|themes" | split: "|" | contains: chapter %}
{% if chapter %}
{% endif %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if chapter and chapter != 'support' %}
        <a class="navbar-brand" href="{{ '/index.html' | prepend: chapter | prepend: '/' | prepend: site.baseurl }}">
          {% if chapter == 'blog' %}
            <div id="brand-logo-devblog"></div>
          {% else %}
            <div id="brand-logo"></div>
          {% endif %}
        </a>
      {% else %}
        <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}"><div id="brand-logo"></div></a>
      {% endif %}
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ "/apps" | prepend: site.baseurl }}">REST API</a></li>
          <li><a href="{{ "/themes" | prepend: site.baseurl }}">Themes</a></li>
          <li><a href="{{ "/blog/index.html" | prepend: site.baseurl }}">Developer Blog</a></li>
          <li><a href="{{ "/apps/faq.html" | prepend: site.baseurl }}">FAQ</a></li>
          <li><a href="{{ "/support" | prepend: site.baseurl }}">Support</a></li>
          <a href="{{ "/devjobs" | prepend: site.baseurl }}"><button type="submit" class="hiring-btn">We`re hiring</button></a>
        </ul>
    </div>
  </div>
</nav>
