<div class="navbar  navbar--dark">
  <div class="navbar-wrapper">

    <a href="/">
      <img src="/assets/images/logos/logo_developer_portal_white.svg" alt="ePages Logo"  class="logo  logo--devportal">
    </a>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item  navigation__item--hidden">
          <a href="/" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link  navigation__link--disabled">
            Docs
            <i class="fas fa-caret-down"></i>
          </a>
          <ul class="dropdown">
            <li>
              <a href="/beyond-docs/" class="dropdown__link" target="_blank">Beyond API</a>
            </li>
            <li>
              <a href="/apps/" class="dropdown__link  {% active_menu apps %}">Now API</a>
            </li>
          </ul>
        </li>
        <li class="navigation__item">
          <a href="/blog/" class="navigation__link  {% active_menu blog %}">Blog</a>
        </li>
        <li class="navigation__item">
          <a href="/about/" class="navigation__link  {% active_menu about %}">About</a>
        </li>
        <li class="navigation__item">
          <a href="/devjobs/" class="navigation__link  {% active_menu devjobs %}">Jobs</a>
        </li>
        <li class="navigation__item">
          <a href="/events/" class="navigation__link  {% active_menu events %}">Events</a>
        </li>
      </ul>
    </nav>

    <div class="navigation__button">
      <i class="fas  fa-fw  fa-2x  fa-bars"></i>
    </div>

    <div class="navigation__background"></div>

  </div>
</div>

<script src="/assets/javascript/navbar.js"></script>
