{% for category in site.data.beyond-sidebar %}
  <li class="sitemap-headline">{{ category.title }}<i class="fas fa-caret-down"></i></li>
  <ul class="sitemap-content">
    {% for entry in category.entries %}
      {% if entry.entries %}
        <li class="sitemap-entry-group" onclick="changeSiteMap(this)">{{entry.title}}
          <i class="fas fa-caret-down caret"></i>
        </li>
      {% else %}
        <li class="sitemap-entry" link={{entry.link}}>{{entry.title}}</li>
      {% endif %}
      <ul id={{entry.title | downcase }} class="sitemap-content-expand sitemap-content-expand--close">
          {% for expand in entry.entries %}
            <li class="sitemap-entry-expand" link={{expand.link}}>{{expand.title}}</li>
          {% endfor %}
      </ul>
    {% endfor %}
  </ul>
{% endfor %}

<script>
  $(document).ready(function() {
    $('#docs').attr('src', $(".sitemap-entry").first().attr('link'));
    $(".sitemap-entry").first().addClass('active');

    width = $(window).width();

    document.querySelectorAll('li.sitemap-entry').forEach(function(elem) {
      if (elem.querySelector('a') && elem.querySelector('a').getAttribute('href') == window.location.pathname) {
        elem.className += ' active'
      }
    });

    $(".sitemap-entry, .sitemap-entry-expand").click(function(e) {
      e.preventDefault();
      $('#docs').attr('src', $(this).attr('link'));
    });
  });

</script>
