{% for category in site.data.beyond-sidebar %}
  <li class="sitemap-headline">{{ category.title }}</li>
  <ul class="sitemap-content">
    {% include sidebar/entries.html entries=category.entries %}
  </ul>
{% endfor %}

<script>
  $(document).ready(function() {
    document.querySelectorAll('li.sitemap-entry').forEach(function(elem) {
      if (elem.querySelector('a') && elem.querySelector('a').getAttribute('href') == window.location.pathname) {
        elem.className += ' active'
      }
    });

    $(".sitemap-entry, .sitemap-entry-expand, .sitemap-entry-expand--hidden").click(function(e) {
      e.preventDefault();
      if($(this).attr('id')) {
        window.location.hash = $(this).attr('id');
      } else {
        clearHashUrl();
      }
      $(window).scrollTop(0);
      $('#docs').attr('src', $(this).attr('link'));
    });

    var sidebarEntryId = window.location.hash.substring(1) || 'index-introduction';
    loadEntryPointUrl(sidebarEntryId);
  });

  function clearHashUrl() {
    // SEE: https://developer.mozilla.org/en-US/docs/Web/API/History/replaceState
    const noHashURL = window.location.href.replace(/#.*$/, '');
    window.history.replaceState('', document.title, noHashURL);
  }
</script>
