{% for category in sitemap %}
  <li class="sitemap-headline">{{ category.title }}</li>
  <ul class="sitemap-content">
    {% for entry in category.entries %}
      <li class="sitemap-entry">{% sitemap_link entry %}</li>
    {% endfor %}
  </ul>
{% endfor %}

<script>
  $(document).ready(function() {
    width = $(window).width();

    document.querySelectorAll('li.sitemap-entry').forEach(function(elem) {
      if (elem.querySelector('a').getAttribute('href') == window.location.pathname) {
        elem.className += ' active'
      }
    });

    $('li.sitemap-headline').click(function() {
      if (width <= 767) {
        if ($(this).next('.sitemap-content').is(':hidden')) {
          $('.sitemap-content:visible').slideToggle();

        }
        $(this).next('.sitemap-content').slideToggle();
      }
    });

    if (width <= 767) {
      $('.rss-feed').remove();
    }

    $('a.youtube-lightbox').click(function(event) {
      event.preventDefault();

      video_link = $(this).attr('href');

      $('<div id="lightbox_bg"><iframe src="' + video_link + '"></iframe></div>').prependTo('body');
    });

    $(document).on('click', '#lightbox_bg', function() {
      $('#lightbox_bg').remove();
    });
  });
</script>
