{% for category in sitemap %}
  <li class="sitemap-headline">{{ category.title }}<i class="fas fa-caret-down"></i></li>
  <ul class="sitemap-content">
    {% for entry in category.entries %}
      <li class="sitemap-entry">{% sitemap_link entry %}</li>
    {% endfor %}
  </ul>
{% endfor %}

<script>
  $(document).ready(function() {
    width = $(window).width();

    document.querySelectorAll('li.sitemap-entry').forEach(function(elem) {
      if (elem.querySelector('a').getAttribute('href') == window.location.pathname) {
        elem.className += ' active'
      }
    });
  });
</script>
