* {
  box-sizing: border-box;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
  font-size: 18px;
}
a, a:focus, a:hover, a:active, a:visited {
  color: #28b363;
}
h1, h2, h3, h4 {
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, sans-serif;
}
h4 {
  font-size: 22px;
}
p {
  margin: 10px 0;
}
ul li {
  list-style: none;
}

/*CTA*/

a.cta, .cta, .navbar-cta {
  background-image: none;
  background-color: #28B464;
  border: 1px solid #28B464;
  padding: 10px 15px;
  text-shadow: none;
  color: #fff;
  border-radius: 0;
  box-shadow: none !important;
  line-height: 1.4;
}
.cta:hover, .cta:active, .cta:focus, .cta:visited .btn.active {
  background-color: #05A54B !important;
  border-color: #05A54B !important;
  color: #fff !important;
  outline: 0 !important;
  text-decoration: none;
}
.navbar-cta {
  background: transparent;
  color: #fff;
  border-color: #fff;
  margin: 2px 0 0 20px;

  a {
    text-decoration: none !important;
    padding: 0;
  }
}

.navbar-cta:hover, .navbar-cta:active, .navbar-cta:focus {
  background: rgba(255, 255, 255, .2) !important;
  color: #fff !important;
  border-color: #fff !important;
  outline: 0 !important;
}
@media (max-width: 767px) {
  .navbar-cta, .contentnav {
    display: none !important;
  }
}

/*NAVBAR*/

nav {
  padding: 20px 15px;
  margin-left: auto;
  margin-right: auto;
  a {
    color: #fff !important;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  nav {
    width: 750px;
  }
  .nav li > a {
    display:block;
    padding: 15px 7px;
  }
}
@media (min-width: 992px) {
  nav {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  nav {
    width: 1170px;
  }
}

.nav li a:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}
.navbar-toggle {
  border-color: #fff;
  border-radius: 0;
}
.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, .2);
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-brand {
  padding: 10px 15px;
  margin: 3px 0 0;
  background-image: url('#{$assets-base}/logos/epages-logo-devportal.png');
  background-repeat: no-repeat;
  min-width: 230px;
  height: 40px;
  background-size: contain;
  background-position: center center;
  &.documentation {
    background-image: url('#{$assets-base}/logos/epages-logo-devblog.png');
    width: 230px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  nav a {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  nav a {
    color: #2c2926 !important;
  }
  nav li a:hover {
    color: #2c2926 !important;
  }
  .navbar-toggle {
    border-color: #2c2926;
  }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, .2);
  }
  .navbar-toggle .icon-bar {
    background-color: #2c2926;
  }
  .navbar-brand {
    padding: 10px 15px;
    margin: 6px 0 0;
    background-image: url(../logos/logo_developer_portal_4c.png);
    background-repeat: no-repeat;
    width: 230px;
    height: 40px;
    background-size: contain;
    background-position: center left;
  }
  .navbar-collapse, .navbar-form {
    border: none;
    margin-top: 5px;
  }
  .navbar-brand.documentation {
    background-image: url(../logos/logo_devblog_4c.png);
  }
  nav li a {
    padding-left: 0 !important;
  }
}
@media screen and (max-width: 374px) {
  .navbar-brand {
    width: 170px !important;
  }
}

/*Header*/

.jumbotron {
  background: url(../images/landingpage-banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  margin-top: -90px;
  padding-top: 90px;

  .input-group {
    display: inline-flex;
    width: 80%;
    min-width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .jumbotron {
    margin-top: 0;
    padding-top: 30px;
  }
}
.jumbotron .h1, .jumbotron h1 {
  padding: 1em 0 0.5em;
  margin: 0;
}
.jumbotron .h3, .jumbotron h3 {
  font-family: "HelveticaNeue-Light";
  font-size: 20px;
}
.form-control {
  height: 47px;
  border-radius: 0;
  font-size: 18px;
}
input:focus,
input:active {
  outline: 0 !important;
  box-shadow: none !important;
  border-color: #ccc !important;
}
@media (min-width: 768px) {
  .jumbotron .input-group {
    width: 595px;
  }
}
@media (min-width: 992px) {
  .jumbotron .input-group {
    width: 455px;
  }
}
@media (min-width: 1200px) {
  .jumbotron .input-group {
    width: 555px;
  }
}
.input-group button {
  position: absolute;
  right: 0;
  z-index: 3;
}

/*SECTIONS and their IDs used for start page and contact form */

section {
  padding: 80px 20px;
  text-align: center;
}
#register {
  background-color: #eee;
}
section h2 {
  margin: 0 0 30px;
}
section h2 span {
  font-family: FontAwesome;
  font-size-adjust: 0.8;
  margin-right: 20px;
}
section h4 span {
  font-family: FontAwesome;
  font-size-adjust: 0.7;
  margin-right: 20px;
}
section .row {
  margin: 40px 0 0;
}
section p {
  margin: 10px 0 50px;
}
section button {
  margin: 40px auto 0;
  display: block;
}

/* Resources section on start page */
@media (min-width: 992px) {
  #resources .row div {
    width: 33.333%;
    float: left;
    padding: 0 15px;
  }
  section .row p {
    margin-bottom: 10px;
  }
}
@media (max-width:991px){
  #resources {
    padding-bottom: 0;
  }
}

/* Prefooter used on some pages as last content section */
.prefooter {
  background-color: #eee;
  padding: 40px 0 0;
}


/*FOOTER*/

footer {
  background: #262626;
  color: #666;
  padding: 80px 0;
}
footer .row {
  padding: 40px 0 0;
  margin: 0;
}
footer .logo {
  margin: 0 auto;
  padding: 0 0 40px;
  border-bottom: 1px solid #fff;
}
@media (max-width: 767px) {
  footer .logo {
    border-bottom-width: 0;
    padding-bottom: 0;
  }
  footer .locations, footer .links {
    display: none;
  }
}
footer a, footer a:visited {
  color: #666;
}
footer ul {
  padding: 0;
}
footer a:hover, footer a:focus, footer a:active {
  color: #fff;
  text-decoration: none;
}
footer .links a, footer .links a:visited {
  color: #fff;
}
footer .links a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .links ul {
  display: inline-block;
}
footer .links li {
  float: left;
  padding: 0 25px;
}

.locations .locationBorder {
  border-top: 1px solid #fff;
}
.locations ul {
  display: inline-block;
}
.locations li {
  float: left;
  padding: 0 25px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .locations li {
    padding: 0 7px;
    line-height: inherit;
  }
}
@media screen and (min-width: 992px) and (max-width: 1023px) {
  .locations li {
    padding: 0 15px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .locations li {
    padding: 0 20px;
  }
}

.social ul, .socialmedia {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.social li, .socialmedia li {
  display: table;
  float: left;
  margin: 0 7px;
}
.socialmedia li:first-child {
  margin-left: 0;
}
footer .social ul li a, .socialmedia li a {
  display: table-cell;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 26px;
  line-height: 0;
  vertical-align: middle;
  overflow: hidden;
  color: #fff;
}
.socialmedia li a {
  width: 30px;
  height: 30px;
  font-size: 18px;
}
@media (max-width: 443px) {
  footer .social ul li a {
    width: 35px;
    height: 35px;
    font-size: 18px;
    line-height: 0;
  }
  footer .social ul li {
    margin: 0 3px;
  }
}
footer .social .linkedin {
  background: #0e76a8;
}
footer .social .linkedin:hover {
  background-color: #0c6590;
}
footer .social .youtube {
  background: #e52d27;
}
footer .social .youtube:hover {
  background-color: #d8201a;
}
footer .social .xing {
  background: #126567;
}
footer .social .xing:hover {
  background-color: #0e5051;
}
.googleplus {
  background: #df4a32;
  &:hover {
    background-color: #d63a21;
  }
}
.twitter {
  background: #00aced;
  &:hover {
    background-color: #0099d3;
  }
}
.facebook {
  background: #3b5998;
  &:hover {
    background-color: #344e86;
  }
}

/* CONTENT */
#content {
  margin: 30px 0;
}

/* Content Navigation */
.contentnav {
  float: left;
  margin-right: 1%;
  width: 19%;
  font-size: 16px;
  line-height: 2;
  min-width: 200px;
}
#sitemap {
  padding: 0;
}
.sitemap-headline {
  font-family: 'ProximaNova-Bold', Helvetica, Arial, sans-serif;
  margin-top: 40px;
}
.sitemap-headline:first-child {
  margin-top: 0;
}

/* Content */
.content-inner {
  float: left;
  width: 80%;
  padding-left: 3%;
  border-left: 1px solid #eee;
  ul, ol {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  .content-inner {
    width: 75%;
  }
}
@media screen and (max-width: 991px) {
  .content-inner {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .content-inner {
    width: 100%;
    padding: 0;
    border-left-width: 0;
  }
}

article p, article table {
  font-size: 16px;
  margin: 10px 0 20px;
}
article ul li {
  font-size: 16px;
  list-style: disc;
}

/* Blog overview page */

.ellipsis {
  height: 60px;
  overflow: hidden;
  margin: 1em 0;
}
.ellipsis::before {
  content: "";
  float: left;
  height: 65px;
  width: 5px;
}
.ellipsis > *:first-child {
  float: right;
  margin-left: -5px;
  width: 100%;
}
.ellipsis::after {
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white) repeat scroll 0 0;
  box-sizing: content-box;
  content: "…";
  float: right;
  left: 100%;
  margin-left: -3em;
  padding-right: 5px;
  position: relative;
  text-align: right;
  top: -28px;
  width: 3em;
}
.post-item:first-child .post-title {
  height: auto;
  margin-top: 15px;
}
.post-title {
  line-height: 30px;
  margin: 0;
  text-overflow: unset;
}
.post-title > a {
  color: #000;
}
.post-meta {
  color: inherit;
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.post-item {
  width: 47%;
  border-bottom: 1px solid #eee;
  float: left;
  height: auto;
  margin-bottom: 25px;
  padding-bottom: 15px;
}
.post-item:first-child {
  width: 100%;
}
.post-item:first-child .ellipsis::before, .post-item:first-child .ellipsis {
  height: 1.5em;
}
.post-item:first-child .img-featured {
  height: auto;
}
.post-item:not(:first-child) .img-featured img {
  max-height: 160px;
  min-width: 100%;
}
.post-item:nth-child(even) {
  margin-right: 6%
}
.post-item:nth-last-child(-n+2) {
  border-bottom-width: 0;
}
@media (max-width: 991px) {
  .post-item {
    width: 100%;
    margin: 0;
  }
  .post-item:not(:first-child) .img-featured img {
    max-height: none;
  }
}
@media (min-width: 1199px) {
  .post-item:not(:first-child) .img-featured img {
    max-height: 205px;
  }
}
/* BLOG ENTRY */
.imagebox {
  max-width: 100%;
}
.imagebox.left {
  float: left;
  margin: 0 20px 20px 0;
}
.imagebox.right {
  float: right;
  margin: 0  0 20px 20px;
}
.imagebox img {
  border-radius: 3px;
  height: auto;
  max-width: 100%;
}
label {
  display: inline-block;
  font-size: 14px;
  margin: 10px 0;
  max-width: 100%;
  font-weight: normal;
}
blockquote {
  margin: 0;
  padding: 5px 20px 15px;
}

/* Contact Form */
#contact-form button {
  width: 100%;
}

/* API docu */
ul#resource-list li {
  border-bottom: 1px dotted #eee;
  font-size: 18px;
  line-height: 1.6;
  list-style: outside none none;
  padding: 5px 0;
}
.resource-entry {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  word-break: break-all;
  word-wrap: break-word;
}
.label, .http-method {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  border-radius: 0.25em;
  color: #fff;
  font-size: 75%;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  display: inline-block;
}
.http-method {
  width: 75px;
}
.http-method-get {
  background-color: #5f97cf;
  border: 1px solid #3a7dc1;
}
.http-method-post {
  background-color: #35a855;
  border: 1px solid #298141;
}
.http-method-put {
  background-color: #d2c329;
  border: 1px solid #a79b21;
}
.http-method-patch {
  background-color: #ffcc00;
  border: 1px solid #cc9900;
}
.http-method-delete {
  background-color: #da4848;
  border: 1px solid #c72828;
}
.label-default:hover, .http-method:hover, .http-method:hover {
  background-color: #ddd;
  border: 1px solid #ddd;
  color: #333;
}
a.label {
  color: #FFF;
}
article th {
  background-color: #f2f2f2;
}
article td, article th {
  border: 1px solid #eee;
  padding: 8px;
}
.alert > p, .alert > ul {
  margin: 5px 0;
}

