html, body {
  overflow-x: hidden;
}

body {
  background-color: $bgFooter;
  font: 180% $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  @media screen and (max-width: $screen-xs-max) {
    padding-top: 44px;
  }
}

nav {
  .navbar-brand {
    background-size: contain;

    @media screen and (max-width: $screen-xs-max) {
      padding: 0;
      margin: 0;
    }
  }

  .navbar {
    margin-bottom: 20px !important;
  }

  .navbar-nav {
    margin: 0 auto;

    li {
      @media screen and (max-width: $screen-xs-max) {
        border-bottom: 1px solid #e7e7e7;
      }
    }

    .navbar-nav > li > a {
        color: #fff;
    }

    li > a {
      padding: 31px 15px;
      font-family: ProximaNova;
      font-size: 18px;

      @media screen and (max-width: $screen-sm-max) {
        padding: 31px 10px;
        font-size: 15px;
      }

      @media screen and (max-width: $screen-xs-max) {
        padding: 15px 20px;
      }
    }

    .pull-right {
      margin: 0 6px;
      font-size: 18px;
      padding: 15px 20px;
    }
  }

  .navbar-header {
    height: 43px;
  }

  a {
    line-height: 3.1rem;
  }

  .navbar-toggle {
    margin: 0;
    border-radius: 0;
    height: 44px;
    border: 0;
    background-color: #ddd;
  }
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;

  @media screen and (max-width: $screen-xs-max) {
    height: 44px;
  }

  .navbar-collapse{

  }
}

.navbar {
  min-height: 44px !important;
}
#brand-logo {
  width: 433px;
  height: 39px;
  background: transparent url('#{$assets-base}/logos/epages-logo-white.png') center center no-repeat;
  background-size: contain;
  margin-top: 11px;

  @media screen and (max-width: $screen-xs-max) {
    width: 44px;
    height: 44px;
    background: transparent url('#{$assets-base}/logos/epages-logo-mobile.jpg');
    margin-top: 0;
  }
}

#brand-logo-documentation {
  width: 348px;
  height: 39px;
  background: transparent url('#{$assets-base}/logos/epages-logo-documentation.png') center center no-repeat;
  background-size: contain;
  margin-top: 11px;

  @media screen and (max-width: $screen-xs-max) {
    width: 44px;
    height: 44px;
    background: transparent url('#{$assets-base}/logos/epages-logo-mobile.jpg');
    margin-top: 0;
  }
}

#brand-logo-devblog {
  width: 272px;
  height: 39px;
  background: transparent url('#{$assets-base}/logos/epages-logo-devblog.png') center center no-repeat;
  background-size: contain;
  margin-top: 11px;

  @media screen and (max-width: $screen-xs-max) {
    width: 44px;
    height: 44px;
    background: transparent url('#{$assets-base}/logos/epages-logo-mobile.jpg');
    margin-top: 0;
  }
}

#content {
  background-color: white;
  padding: 50px 0;
  line-height: 1.6em;

  &.no-bottom-padding {
    padding-bottom: 0;
  }

  @media screen and (max-width: $screen-xs-max) {
    padding: 25px 0;
  }
}

#contact-form {
  padding: 3em 0;
}

section{
  background-color: white;
}
.call-to-action{
  padding-bottom: 32px;
  text-align: center;

  span.fa, h2 {
    color: #444;
    text-align: left;
    display: inline;
  }
  p {
    margin: 12px 0;
    font-family: ProximaNova;
    font-size: 18px;
    color: #333333;
    text-align: center;
  }
}
.centered-res-h2 {
  font-family: HelveticaNeue-Medium;
  font-size: 32px;
  color: #191919;
  text-align: center !important;
  padding-bottom: 63px;
  }

.call-to-resources {
  padding-right: 42px;

  span.fa, h2 {
    color: #444;
    text-align: left;
    display: inline;
  }
  p {
    font-family: ProximaNova;
    font-size: 18px;
    color: #333333;
    text-align: left;
  }
}

.actions > a {
  font-family: HelveticaNeue-Medium;
  font-size: 29px;
  color: #191919;
  text-align: left;
  padding-left: 20px;
}

.dev-resourses > a {
  font-family: HelveticaNeue-Medium;
  font-size: 24px;
  color: #191919;
  text-align: left;
  padding-left: 20px;
}

.action-button {
  background-color:#28b363;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  font-family: ProximaNova-Bold;
  font-size: 18px;
  color: #ffffff;
  padding: 9px 26px;
  text-decoration:none;
}
.action-button:hover {
  background-color:#1e9852;
  color: #ffffff;
}

.action-padding {
  margin-top: 18px;
}

.dev-banner {
  background-color: #f1f1f1;
  text-align: center;
  color: #444;
  height:241px;
}

.dev-banner h2 {
  font-family: HelveticaNeue-Medium;
  font-size: 32px;
  color: #191919;
  padding-top: 30px;
}

.soap-banner {
  background-color: #f1f1f1;
  text-align: center;
  color: #444;
  height:130px;
}

.soap-banner a {
  text-decoration: underline;
}

.soap-banner p {
  font-size: 18px;
  color: #191919;
  padding-top: 32px;
}
p {
  margin: 0 0 12px;
  font-family: ProximaNova;
  font-size: 16px;
  line-height: 1.4;
  color: #262626;
}

.page-header {
  margin: 0;

  h1 {
    font-family: HelveticaNeue-Medium;
    font-size: 32px;
    line-height: 1.0;
    color: #191919;
    margin: 0;
  }

  .btn-ghost {
    @extend .btn-default;

    margin-top: 6px;
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 0.75rem 1.25rem 0.5rem 1.25rem;
    background-color: transparent;
    border: 3px solid rgba(0,91,119,0.5);
    color: rgba(0,91,119,0.5);

    text-decoration: none;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    margin-top: 1rem;
  }
}

article {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'HelveticaNeue-Bold';

    .headline-anchor {
      position: relative;
      top: -100px;
      visibility: hidden;

      @media screen and (max-width: $screen-xs-max) {
        top: -60px;
      }
    }
  }

  h1 {
    font-size: 32px;
    margin-top: 60px;
  }

  h2 {
    font-family: HelveticaNeue-Medium;
    font-size: 32px;
    line-height: 1.3;
    color: #191919;
    margin-top: 32px;

    a {
      pcolor: #191919;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
    line-height: 120%;
    margin-top: 2em;
  }

  h5 {
    font-size: 18px;
    line-height: 120%;
    margin-top: 2em;
  }

  table {
    @extend .table;
    @extend .table-bordered;

    thead {
      background-color: #f2f2f2;
    }
  }

  a {
    color: #28b363;
    text-decoration: underline;

    &:hover {
      color: #1e9852;
      text-decoration: underline;
    }
  }

  li {
    margin-bottom: 0.5em;
    &:last-child {
      margin-bottom: 0;
    }
    ul {
      li {
        list-style-type: none;
        margin-left: -25px;

        &:before {
        content: url("#{$assets-base}/images/list2.png") no-repeat;
        margin-right: 10px;
        }
      }
    }
  }

  & > *:first-child {
    margin-top: 0;
  }
}

b, strong {
  font-weight: 900;
}

.imagebox {
  text-align: left;
  padding-bottom: 15px;


  &.left {
    margin: 0.2em 1.4em 0.5em 0;
    padding: 0;
  }

  &.right {
    margin: 0.2em 0 0.5em 1.4em;
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: $border-radius-small;
  }

  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
.left {
    float: left;
    margin-right: 20px;
    max-width: 840px;
}
.right {
    float:right;
    margin-left:20px;
    max-width: 840px;
}
.alert {
  margin: 40px 0;
  border-radius: 2px;
  background-color: rgba(0, 185, 255, 0.2);
  border: solid 1px #01a2df;
}

.alert p {
  font-family: ProximaNova;
  font-size: 16px;
  line-height: 1.4;
  color: #01678c;
}

.logo-footer{
  width: 135px;
  vertical-align: -45px;
}

.back-to-top {
  background: none;
  margin: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 40px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #ffffff;
  background-color: $bgFooter;
  border: 2px solid #fff;
  border-radius: $border-radius-small;

  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: darken($bgFooter, 20);
    border-radius: $border-radius-small;
  }

  span {
    text-align: center;
    display: block;
    line-height: 35px;
  }
}

.spacer110 {
  height: $spacerL-height;
  clear: both;
}

.spacer60 {
  height: $spacerM-height;
  clear: both;
}

.spacer20 {
  height: $spacerS-height;
  clear: both;
}

.pager li > a, .pager li > span {
  border-radius: 2px;
  background-color: #28b363;
  font-family: ProximaNova-Bold;
  font-size: 18px;
  color: #fff;
}

i.fa.fa-border {
  border: 0;
  margin: 0 .25em .25em 0;
}

.clear {
  clear: both;
}
