html, body {
  overflow-x: hidden;
}

body {
  background-color: $bgFooter;
  font: 180% $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 83px;
  position: relative;

  @media screen and (max-width: $screen-xs-max) {
    padding-top: 44px;
  }
}

nav {
  .navbar-brand {
    background-size: contain;

    @media screen and (max-width: $screen-xs-max) {
      padding: 0;
      margin: 0;
    }
  }

  .navbar-nav {
    li > a {
      padding: 31px 15px;

      @media screen and (max-width: $screen-sm-max) {
        padding: 31px 10px;
        font-size: 15px;
      }
    }

    .pull-right {
      margin: 0 6px;
      font-size: 18px;
      padding: 15px 20px;
    }
  }

  .navbar-header {
    height: 43px;
  }

  a {
    line-height: 3.1rem;
  }

  .navbar-toggle {
    margin: 0;
    border-radius: 0;
    height: 44px;
    border: 0;
    background-color: #ddd;
  }
}

.navbar-default{
  height: 83px;
  background-color: #fff;

  @media screen and (max-width: $screen-xs-max) {
    height: 44px;
  }

  .navbar-collapse{
    background-color: #fff;
  }
}

.navbar {
  min-height: 44px !important;
}

#brand-logo-documentation {
  width: 348px;
  height: 39px;
  background: transparent url('#{$assets-base}/logos/epages-logo-documentation.png') center center no-repeat;
  background-size: contain;
  margin-top: 11px;

  @media screen and (max-width: $screen-xs-max) {
    width: 44px;
    height: 44px;
    background: transparent url('#{$assets-base}/logos/epages-logo-mobile.png');
    margin-top: 0;
  }
}

#brand-logo-devblog {
  width: 272px;
  height: 39px;
  background: transparent url('#{$assets-base}/logos/epages-logo-devblog.png') center center no-repeat;
  background-size: contain;
  margin-top: 11px;

  @media screen and (max-width: $screen-xs-max) {
    width: 44px;
    height: 44px;
    background: transparent url('#{$assets-base}/logos/epages-logo-mobile.png');
    margin-top: 0;
  }
}

#content {
  background-color: white;
  padding: 50px 0;
  line-height: 1.7em;

  @media screen and (max-width: $screen-xs-max) {
    padding: 25px 0;
  }
}

p {
  margin: 0 0 20px;
}

.page-header {
  margin-top: 40px;

  h1 {
    font-size: $font-size-h1 * 1.3;
    font-style: italic;
    font-weight: 400;
    margin-top: 0;
  }

  .btn-ghost {
    @extend .btn-default;

    margin-top: 6px;
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 0.75rem 1.25rem 0.5rem 1.25rem;
    background-color: transparent;
    border: 3px solid rgba(0,91,119,0.5);
    color: rgba(0,91,119,0.5);

    text-decoration: none;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    margin-top: 1rem;
  }
}

article {
  h1, h2, h3, h4, h5, h6 {
    font-style: italic;

    .headline-anchor {
      position: relative;
      top: -100px;
      visibility: hidden;

      @media screen and (max-width: $screen-xs-max) {
        top: -60px;
      }
    }
  }

  h1 {
    margin-top: 60px;
  }

  h2 {
    margin-top: 40px;
  }

  table {
    @extend .table;
    @extend .table-bordered;

    thead {
      background-color: #f2f2f2;
    }
  }

  a {
    color: $petrol;
    text-decoration: underline;

    &:hover {
      color: darken($petrol, 20)
    }
  }

  li {
    ul {
      li {
        list-style-type: none;
        margin-left: -25px;

        &:before {
        content: url("#{$assets-base}/images/list2.png") no-repeat;
        margin-right: 10px;
        }
      }
    }
  }

  & > *:first-child {
    margin-top: 0;
  }
}

b, strong {
  font-weight: 900;
}

.imagebox {
  border: 1px solid silver;
  border-radius: 0;
  padding: 10px;
  margin: 0 0 ($line-height-computed / 2);
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    border-radius: $border-radius-small;
  }

  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.alert {
  margin: 40px 0;
}

.back-to-top {
  background: none;
  margin: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 40px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #ffffff;
  background-color: $bgFooter;
  border: 2px solid #fff;
  border-radius: $border-radius-small;

  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: darken($bgFooter, 20);
    border-radius: $border-radius-small;
  }

  span {
    text-align: center;
    display: block;
    line-height: 35px;
  }
}

.spacer110 {
  height: $spacerL-height;
  clear: both;
}

.spacer60 {
  height: $spacerM-height;
  clear: both;
}

.spacer20 {
  height: $spacerS-height;
  clear: both;
}
