* {
  box-sizing: border-box;
  // -webkit-transition: all 0.25s linear;
  // -moz-transition: all 0.25s linear;
  // -o-transition: all 0.25s linear;
  // transition: all 0.25s linear;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
  font-size: 18px;
}
h1, h2, h3, h4 {
  font-family: 'HelveticaNeue-Bold', Helvetica, Arial, sans-serif;
}
h4 {
  font-size: 22px;
}
p {
  margin: 10px 0;
}
ul li {
  list-style: none;
}

/*CTA*/

a.cta, .cta, .navbar-cta {
  display: inline-block;
  background-image: none;
  background-color: #28B464;
  border: 1px solid #28B464;
  padding: 10px 15px;
  text-shadow: none;
  color: #fff;
  border-radius: 0;
  box-shadow: none !important;
  line-height: 1.4;
}
.cta:hover, .cta:active, .cta:focus, .cta:visited .btn.active {
  background-color: #05A54B !important;
  border-color: #05A54B !important;
  color: #fff !important;
  outline: 0 !important;
  text-decoration: none;
}
.navbar-cta {
  background: transparent;
  color: #fff;
  border-color: #fff;
  margin: -1px 0 -1px 10px;

  a {
    text-decoration: none !important;
    padding: 0;
  }
}

.navbar-cta:hover, .navbar-cta:active, .navbar-cta:focus {
  background: rgba(255, 255, 255, .2) !important;
  color: #fff !important;
  border-color: #fff !important;
  outline: 0 !important;
}
@media (max-width: 767px) {
  .blog.blog-preview .container .contentnav #sitemap .sitemap-headline:not(.social-media) {
    display: none !important;
  }
  .blog-preview #sitemap {
    border: 0 !important;
  }
  .contentnav .sitemap-headline.rss-feed {
    display: none !important;
  }
  .contentnav .sitemap-headline:last-of-type {
    margin-top: 0;
    font-size: 0;

    .socialmedia {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .navbar-cta {
    margin-left: 0;
  }
  .contentnav {
    width: 100% !important;
    margin-right: 0 !important;

    #sitemap {
      margin-bottom: 30px;
      border-left: 1px solid #cfcfcf;
      border-right: 1px solid #cfcfcf;

      > li {
        &:last-of-type {
          border-bottom: 1px solid #cfcfcf;
        }

        &.sitemap-headline {
          margin: 0;
          text-align: center;
          border-top: 1px solid #cfcfcf;
          padding: 5px 0;
          font-size: 18px;
          &.social-media {
            border: 0;
          }
        }
      }

      ul {

        &:last-of-type {
          border-top: 0 !important;
          border-bottom: 1px solid #cfcfcf;
        }

        &.socialmedia {
          border-bottom: 0 !important;
        }

        &.sitemap-content {
          display: none;
          border-top: 1px solid #cfcfcf;

          &:last-child {
            margin-bottom: 0;
          }

          .sitemap-entry {
            text-align: center;

            &:first-child {
              margin-top: 10px;
            }

            &:last-child {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

/*NAVBAR*/

nav {
  padding: 20px 15px;
  width: 100%;
  position: fixed;
  z-index: 5;
  &.white {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    a {
      color: #333 !important;
      &:hover,
      &:focus {
        color: #333 !important;
      }
    }
    .navbar-cta {
      color: #333 !important;
      border-color: #333 !important;
    }
    .navbar-cta:hover, .navbar-cta:active, .navbar-cta:focus {
      color: #333 !important;
      border-color: #333 !important;
    }
  }
  .nav__container {
    margin-left: auto;
    margin-right: auto;
  }
  a {
    color: #fff !important;
  }
  ul {
    margin: 0;
    padding: 0;
    li a.active {
      text-decoration: underline;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .nav__container {
    width: 750px;
  }
  .nav li > a {
    display:block;
    padding: 15px 7px;
  }
}
@media (min-width: 992px) {
  .nav__container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .nav__container {
    width: 1170px;
  }
}

.nav li a:hover, .nav li a:focus {
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}
.navbar-toggle {
  border-color: #fff;
  border-radius: 0;
}
.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, .2);
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-brand {
  padding: 10px 15px;
  margin: 3px 0 0;
  background-image: url('#{$assets-base}/logos/logo_developer_portal_white.svg');
  background-repeat: no-repeat;
  min-width: 230px;
  height: 40px;
  background-size: contain;
  background-position: center center;
  &.gray {
    background-image: url('#{$assets-base}/logos/logo_developer_portal_4c.svg');
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  nav a {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  nav a {
    color: #2c2926 !important;
  }
  nav li a:hover {
    color: #2c2926 !important;
  }
  .navbar-toggle {
    border-color: #2c2926;
  }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, .2);
  }
  .navbar-toggle .icon-bar {
    background-color: #2c2926;
  }
  .navbar-brand {
    padding: 10px 15px;
    margin: 6px 0 0;
    background-image: url(../logos/logo_developer_portal_4c.png);
    background-repeat: no-repeat;
    width: 230px;
    height: 40px;
    background-size: contain;
    background-position: center left;
  }
  .navbar-collapse, .navbar-form {
    border: none;
    margin-top: 5px;
  }
  nav li a {
    padding-left: 0 !important;
  }
}
@media screen and (max-width: 374px) {
  .navbar-brand {
    width: 170px !important;
  }
}

/*Header*/

.jumbotron {
  background: url(../images/landingpage-banner.jpg);
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  // margin-top: -90px;
  margin-bottom: 0;
  padding-top: 90px;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
  &--top {
    background-position: center top !important;
  }
  &--bottom {
    background-position: center bottom !important;
  }

  .input-group {
    display: inline-flex;
    width: 80%;
    padding-bottom: 30px;
    min-width: 300px;
  }
  #docs {
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .jumbotron {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 48px;
  }
}
.jumbotron .h1, .jumbotron h1 {
  padding: 1em 0 0.5em;
  margin: 0;
}
.jumbotron .h3, .jumbotron h3 {
  font-family: "HelveticaNeue-Light";
  font-size: 20px;
  margin-top: -20px;
}
.form-control {
  height: 47px;
  border-radius: 0;
  font-size: 18px;
}
input:focus,
input:active {
  outline: 0 !important;
  box-shadow: none !important;
  border-color: #ccc !important;
}
@media (min-width: 768px) {
  .jumbotron .input-group {
    width: 595px;
  }
}
@media (min-width: 992px) {
  .jumbotron .input-group {
    width: 455px;
  }
}
@media (min-width: 1200px) {
  .jumbotron .input-group {
    width: 555px;
  }
}
.input-group button {
  position: absolute;
  right: 0;
  z-index: 3;
}

/*SECTIONS and their IDs used for start page and contact form */

section {
  padding: 80px 20px;
  text-align: center;
}
section .row {
  max-width: 1440px;
  margin: 0 auto;
}
#register {
  background-color: #eee;
}
section h2 {
  margin: 0 0 30px;
}
section h2 span {
  font-family: FontAwesome;
  font-size-adjust: 0.8;
  margin-right: 20px;
}
section h4 span {
  font-family: FontAwesome;
  font-size-adjust: 0.7;
  margin-right: 20px;
}
section p {
  margin: 10px 0 20px;
}
section button {
  margin: 40px auto 0;
  display: block;
}
section .col-md-6 p {
  padding: 0 90px;
  @media (max-width: 767px) {
    padding: 0;
  }
}
@media screen and (min-width: 1401px) {
  section .col-md-6 p {
    padding: 0 120px;
  }
}
@media screen and (min-width: 992px) {
  #rest-api p {
    padding: 0 90px;
  }
}
@media screen and (min-width: 1401px) {
  #rest-api p {
    padding: 0 200px;
  }
}
#rest-api .cta,
#register .cta,
#resources .cta {
  margin-top: 20px;
}
@media screen and (max-width: 991px) {
  .col-md-6:first-child {
    margin-bottom: 60px;
  }
  .col-md-4:first-child,
  .col-md-4:nth-child(2) {
    margin-bottom: 60px;
  }
}

/* Prefooter used on some pages as last content section */
.prefooter {
  background-color: #eee;
  padding: 40px 0;

  p {margin: 0;}
}
.post-navigation {
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 426px) {
    flex-direction: column;
  }

  .post-preview {
    width: calc(100% / 3);
    height: 400px;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 426px) {
      width: 100%;
      height: 300px;
    }

    a {
      width: 100%;
      height: 100%;
      color: #fff;
      text-decoration: none;

      .post-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
      }

      .post-content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .post-category {
          text-align: center;
          text-shadow: -1px 1px 2px #505050;
        }
        .post-title {
          font-weight: 700;
          font-size: 24px;
          text-align: center;
          text-shadow: -1px 1px 2px #505050;

          span {
            font-weight: 400;
            font-size: 18px;
          }
        }
        .post-description {
          text-align: center;
          text-shadow: -1px 1px 2px #505050;
          border: 1px solid #fff;
          border-radius: 4px;
          padding: 4px 8px;
          display: table;
          margin: 0 auto;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.6);

          .post-description {
            background: #fff;
            text-shadow: none;
            color: #333;
          }
        }
      }
    }
  }
}
.post-categories {
  padding-top: 25px;
}


/*FOOTER*/

footer {
  background: #262626;
  color: #666;
  padding: 80px 0;
}
footer .row {
  padding: 40px 0 0;
  margin: 0;
}
footer .logo {
  margin: 0 auto;
  padding: 0 0 15px;
  border-bottom: 1px solid #fff;
  width: 65%;
}
@media (max-width: 767px) {
  footer .logo {
    border-bottom-width: 0;
    padding-bottom: 0;
  }
  footer .locations, footer .links {
    display: none;
  }
}
footer a, footer a:visited {
  color: #666;
}
footer ul {
  padding: 0;
}
footer a:hover, footer a:focus, footer a:active {
  color: #fff;
  text-decoration: none;
}
footer .links a, footer .links a:visited {
  color: #fff;
}
footer .links a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .links ul {
  display: inline-block;
}
footer .links li {
  float: left;
  padding: 0 25px;
}

.locations .locationBorder {
  border-top: 1px solid #fff;
}
.locations ul {
  display: inline-block;
}
.locations li {
  float: left;
  padding: 0 25px;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .locations li {
    padding: 0 7px;
    line-height: inherit;
  }
}
@media screen and (min-width: 992px) and (max-width: 1023px) {
  .locations li {
    padding: 0 15px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .locations li {
    padding: 0 20px;
  }
}
.social a > span {
  font-size: inherit;
  padding: inherit;
}
.social ul, .socialmedia {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.social li, .socialmedia li {
  display: table;
  float: left;
  margin: 0 7px;
}
.socialmedia li:first-child {
  margin-left: 0;
  @media screen and (max-width: 768px) {
    margin-left: 7px;
  }
}
footer .social ul li a, .socialmedia li a {
  display: table-cell;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 26px;
  line-height: 0;
  vertical-align: middle;
  overflow: hidden;
  color: #fff;
}
.socialmedia li a {
  width: 30px;
  height: 30px;
  font-size: 18px;
}
@media (max-width: 443px) {
  footer .social ul li a {
    width: 35px;
    height: 35px;
    font-size: 18px;
    line-height: 0;
  }
  footer .social ul li {
    margin: 0 3px;
  }
}
footer .social .linkedin {
  background: #0e76a8;
}
footer .social .linkedin:hover {
  background-color: #0c6590;
}
footer .social .youtube {
  background: #e52d27;
}
footer .social .youtube:hover {
  background-color: #d8201a;
}
footer .social .xing {
  background: #126567;
}
footer .social .xing:hover {
  background-color: #0e5051;
}
.googleplus {
  background: #df4a32;
  &:hover {
    background-color: #d63a21;
  }
}
.twitter {
  background: #00aced;
  &:hover {
    background-color: #0099d3;
  }
}
.facebook {
  background: #3b5998;
  &:hover {
    background-color: #344e86;
  }
}
.rss {
  background: #fdc333;
  &:hover {
    background-color: #f9af05;
  }
}

/* CONTENT */
#content {
  margin: 30px 0;
}

/* Content Navigation */
.contentnav {
  float: left;
  margin-right: 0;
  width: 19%;
  font-size: 16px;
  line-height: 2;
  min-width: 200px;
}
#sitemap {
  padding: 0;
}
.sitemap-headline {
  font-family: 'ProximaNova-Bold', Helvetica, Arial, sans-serif;
  margin-top: 40px;
}
ul.sitemap-content {
  padding-left: 0;
}
.sitemap-headline:first-child {
  margin-top: 0;
}
.sitemap-headline:nth-child(2) {
  margin-top: 20px;
}

.sitemap-entry.active {
  margin-left: -10px;
  padding-left: 10px;
  border: 1px solid #eee;
  border-right: 0;
  background-color: #eee;
 }

/* Content */
.content-inner {
  float: left;
  width: 80%;
  padding-left: 3%;
  border-left: 1px solid #eee;
}
@media (max-width: 1199px) {
  .content-inner {
    width: 75%;
  }
}
@media screen and (max-width: 991px) {
  .content-inner {
    width: 70%;
  }
  footer {
    font-size: inherit;
  }
}
@media (max-width: 767px) {
  .content-inner {
    width: 100%;
    padding: 0;
    border-left-width: 0;
  }
}

article p, article table {
  margin: 10px 0 20px;
}
body.data-types article table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
body.data-types article table th:first-child,
body.data-types article table td:first-child {
  width: calc(100% / 3);
}
body.data-types article table th:nth-child(2),
body.data-types article table td:nth-child(2) {
  width: calc(100% / 3);
  text-align: left !important;
}
body.data-types article table th:nth-child(3),
body.data-types article table td:nth-child(3) {
  width: calc(100% / 3);
}
article ul li {
  list-style: disc;
}

/* Blog overview page */

.ellipsis {
  height: 60px;
  overflow: hidden;
  margin: 1em 0;
}
.ellipsis::before {
  content: "";
  float: left;
  height: 65px;
  width: 5px;
}
.ellipsis > *:first-child {
  float: right;
  margin-left: -5px;
  width: 100%;
}
.ellipsis::after {
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white) repeat scroll 0 0;
  box-sizing: content-box;
  content: "…";
  float: right;
  left: 100%;
  margin-left: -3em;
  padding-right: 5px;
  position: relative;
  text-align: right;
  top: -28px;
  width: 3em;
}
.post-item:first-child .post-title {
  height: auto;
  margin-top: 15px;
}
.post-title {
  line-height: 30px;
  margin: 0;
  text-overflow: unset;
}
.post-title > a {
  color: #000;
}
.post-meta {
  color: inherit;
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-size: 15px;
  color: #444;
}
.post-item {
  width: 47%;
  border-bottom: 1px solid #eee;
  float: left;
  height: auto;
  margin-bottom: 25px;
  padding-bottom: 15px;
}
.post-item:first-child {
  width: 100%;
}
.post-item:first-child .ellipsis::before, .post-item:first-child .ellipsis {
  height: 1.5em;
}
.post-item:first-child .img-featured {
  height: auto;
}
.post-item:not(:first-child) .img-featured img {
  max-height: 160px;
  min-width: 100%;
}
.post-item:nth-child(even) {
  margin-right: 6%
}
.post-item:nth-last-child(-n+2) {
  border-bottom-width: 0;
}
@media (max-width: 991px) {
  .post-item {
    width: 100%;
    margin: 0;
  }
  .post-item:not(:first-child) .img-featured img {
    max-height: none;
  }
}
@media (min-width: 1199px) {
  .post-item:not(:first-child) .img-featured img {
    max-height: 205px;
  }
}
/* BLOG ENTRY */
.imagebox {
  max-width: 100%;
}
.imagebox.left {
  float: left;
  margin: 0 20px 20px 0;
}
.imagebox.right {
  float: right;
  margin: 0  0 20px 20px;
}
.imagebox.center {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.imagebox.center.column-image {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.imagebox img {
  border-radius: 3px;
  height: auto;
  max-width: 100%;
}

.imagebox img.basic-image {
  height: 100% !important;
  width: 100% !important;
  max-width: auto;
}

label {
  display: inline-block;
  font-size: 14px;
  margin: 10px 0;
  max-width: 100%;
  font-weight: normal;
}
blockquote {
  margin: 0;
  padding: 5px 20px 15px;
}

/* Contact Form */
#contact-form button {
  width: 100%;
}

/* API docu */
ul#resource-list li {
  line-height: 1.6;
  list-style: outside none none;
}
.resource-entry {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  word-break: break-all;
  word-wrap: break-word;
}
.label, .http-method {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  border-radius: 0.25em;
  color: #fff;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  display: inline-block;
}
.label {
  line-height: 2;
  padding: 0 10px;
}
.http-method {
  width: 75px;
}
.http-method-get {
  background-color: #5f97cf;
  border: 1px solid #3a7dc1;
}
.http-method-post {
  background-color: #35a855;
  border: 1px solid #298141;
}
.http-method-put {
  background-color: #d2c329;
  border: 1px solid #a79b21;
}
.http-method-patch {
  background-color: #ffcc00;
  border: 1px solid #cc9900;
}
.http-method-delete {
  background-color: #da4848;
  border: 1px solid #c72828;
}
.label-default {
  border: 1px solid #777;
}
.label-default:hover, .http-method:hover, .http-method:hover {
  background-color: #ddd;
  border: 1px solid #5e5e5e;
  color: #333;
}
a.label {
  color: #FFF;
}
article th {
  background-color: #f2f2f2;
}
article td, article th {
  border: 1px solid #eee;
  padding: 8px;
}
.form-control {
  box-shadow: none;
}
.alert {
  border-radius: 0;
}
.alert > p, .alert > ul {
  margin: 5px 0;
}

#lightbox_bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;

  iframe {
    border: 0;
    width: 90%;
    height: 90%;
    max-width: 1280px;
    max-height: 720px;
  }
}
