.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-item {
  height: 310px;
  margin-bottom: 50px;

  &:first-child {
    width: 870px;
    height: 375px;
  }

  &:first-child {
    .img-featured {
      height: 300px;
      overflow: hidden;
    }
    .post-title {
      height: 26px;
      margin-top: 12px;
      text-overflow: ellipsis;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.post-title {
  height: 62px;
  margin-top: 12px;
  text-overflow: ellipsis;

  a {
    &>span {
      font-size: 2rem;
      padding: 5px;
    }
  }
}
.post-title > a {
  font-family: HelveticaNeue-Medium;
  font-size: 24px!important;
  line-height: 1.3;
  color: #191919;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
}
.post-meta {
  font-family: ProximaNova-Regular;
  font-size: 14px;
  line-height: 1.8;
  color: #fff;
  margin-bottom: 1.5em;
  margin-top: 0;
}

.post-meta > img {
  width: 380px;
  }

.post-share {
  .socialmedia a {
    color: #fff;
    &>span {
      font-size: 2rem;
      padding: 5px;
    }
  }
}

.post-content {
  margin-top: 3em;
}
