@import 'grid-media'
@import 'fonts'
@import 'variables'
@import 'reset'
@import 'highlighter'
@import 'typography'
@import 'navbar'
@import 'footer'
@import 'sidebar'
@import 'content'
@import 'buttons'
@import 'scrolltop'
@import 'tables'
@import 'forms'

// Base

html
  background-color: $document-background-color

  .docs-wrapper
    width: 90%
    max-width: 1080px
    margin-left: auto
    margin-right: auto
    margin-top: calc(3rem + #{$navbar-height})
    margin-bottom: 3rem
    display: flex
    flex-direction: column
    position: relative

    +grid-media($grid-large)
      align-items: stretch

      margin-top: calc(6rem + #{$navbar-height})
      margin-bottom: 6rem
      flex-direction: row

    a.imagebox
      margin-left: auto
      margin-right: auto
      display: table

    main
      display: grid
      min-height: 700px
      width: auto

      +grid-media($grid-large)
        min-height: 900px
        width: 100%

      iframe
        width: 96%
        height: 100%
        padding: 0 2%

  table.table thead tr

    th:nth-child(3)
      width: 66.6%

  table.table-bordered
    table-layout: initial !important

    tr

      td:first-child
        width: 20% !important

      td:nth-child(2)
        width: 20% !important

      td:last-child
        width: 60% !important
