@font-face {
    font-family: 'Meta-Bold';
    font-weight: bolder;
    font-style: normal;
    src: url('../fonts/Meta/MetaWeb-Bold.eot'), url('../fonts/MetaWeb-Bold.eot#'), url('../fonts/MetaWeb-Bold.woff') format('woff'), url('../fonts/MetaWeb-Bold.eot'), url('../fonts/MetaWeb-Bold.eot');
}

@font-face {
    font-family: 'Meta-Bold';
    font-weight: bolder;
    font-style: italic;
    src: url('../fonts/MetaWeb-BoldIta.eot'), url('../fonts/MetaWeb-BoldIta.eot#'), url('../fonts/MetaWeb-BoldIta.woff') format('woff'), url('../fonts/MetaWeb-BoldIta.eot'), url('../fonts/MetaWeb-BoldIta.eot');
}

@font-face {
    font-family: 'Meta-Light';
    font-weight: lighter;
    font-style: normal;
    src: url('../fonts/MetaWeb-Light.eot'), url('../fonts/MetaWeb-Light.eot#'), url('../fonts/MetaWeb-Light.woff') format('woff'), url('../fonts/MetaWeb-Light.eot'), url('../fonts/MetaWeb-Light.eot');
}

@font-face {
    font-family: 'Meta-Light';
    font-weight: lighter;
    font-style: italic;
    src: url('../fonts/MetaWeb-LightIta.eot'), url('../fonts/MetaWeb-LightIta.eot#'), url('../fonts/MetaWeb-LightIta.woff') format('woff'), url('../fonts/MetaWeb-LightIta.eot'), url('../fonts/MetaWeb-LightIta.eot');
}

@font-face {
    font-family: 'Meta';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/MetaWeb-Normal.eot'), url('../fonts/MetaWeb-Normal.eot#'), url('../fonts/MetaWeb-Normal.woff') format('woff'), url('../fonts/MetaWeb-Normal.eot'), url('../fonts/MetaWeb-Normal.eot');
}

@font-face {
    font-family: 'Meta';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/MetaWeb-NormalIta.eot'), url('../fonts/MetaWeb-NormalIta.eot#'), url('../fonts/MetaWeb-NormalIta.woff') format('woff'), url('../fonts/MetaWeb-NormalIta.eot'), url('../fonts/MetaWeb-NormalIta.eot');
}
