@font-face {
    font-family: 'Meta-Bold';
    font-weight: bolder;
    font-style: normal;
    src: url('#{$assets-base}/fonts/Meta/MetaWeb-Bold.eot'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-Bold.eot#'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-Bold.woff') format('woff'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-Bold.eot'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-Bold.eot');
}

@font-face {
    font-family: 'Meta-Bold';
    font-weight: bolder;
    font-style: italic;
    src: url('#{$assets-base}/fonts/Meta/MetaWeb-BoldIta.eot'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-BoldIta.eot#'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-BoldIta.woff') format('woff'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-BoldIta.eot'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-BoldIta.eot');
}

@font-face {
    font-family: 'Meta-Light';
    font-weight: lighter;
    font-style: normal;
    src: url('#{$assets-base}/fonts/Meta/MetaWeb-Light.eot'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-Light.eot#'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-Light.woff') format('woff'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-Light.eot'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-Light.eot');
}

@font-face {
    font-family: 'Meta-Light';
    font-weight: lighter;
    font-style: italic;
    src: url('#{$assets-base}/fonts/Meta/MetaWeb-LightIta.eot'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-LightIta.eot#'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-LightIta.woff') format('woff'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-LightIta.eot'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-LightIta.eot');
}

@font-face {
    font-family: 'Meta';
    font-weight: normal;
    font-style: normal;
    src: url('#{$assets-base}/fonts/Meta/MetaWeb-Normal.eot'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-Normal.eot#'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-Normal.woff') format('woff'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-Normal.eot'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-Normal.eot');
}

@font-face {
    font-family: 'Meta';
    font-weight: normal;
    font-style: italic;
    src: url('#{$assets-base}/fonts/Meta/MetaWeb-NormalIta.eot'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-NormalIta.eot#'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-NormalIta.woff') format('woff'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-NormalIta.eot'),
         url('#{$assets-base}/fonts/Meta/MetaWeb-NormalIta.eot');
}
