footer {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.5rem;
  color: #fff;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    font-size: 12px;
  }
}

.logo {
  .row > div {
    height: 70px;
    text-align: center;
    margin-bottom: 20px;
  }

  a {
  display: inline-block;
  color: #fff;
  font-size: 15rem;
  font-size: 150px;
  line-height: 0;

    [class^="icon-"]:before, [class*=" icon-"]:before {
      margin: -5.5rem 0 -6rem 0;
    }
  }
}

.locations {
  padding: 1.25rem 1.875rem 0rem 1.875rem;
  text-transform: uppercase;

  .locationBorder {
    border-top: 1px solid white;
  }

  ul {
    display: table;
    padding: 0;
    margin: 0 auto;
  }

  li {
    float: left;
    padding: 0 25px;
  }
}

.social {
  padding: 1.25rem 1.875rem 0rem 1.875rem;
  text-align: center;

  a {
    &>span {
      font-size: 3rem;
      padding: 10px;
    }
  }
}

.footer-column {
  margin: 0;
  padding: 0;
}

.footer-column-headline {
  margin: 0rem 0rem 0.9375rem 0rem;
  color: #fff;
  border-bottom: 1px solid white;
  padding: 0rem 0rem 0.3125rem 0rem;
  font: 2.4rem $font-family-base;
  font-style: italic;
  font-weight: 100;
}

.footer-column-entry {
  margin: 5px 0;
}

#footer-info {
  margin-top: 35px;

  a {
    color: white;

    &:hover {
      color: #20908d;
      text-decoration: none;
    }
  }
}

#footer-legal {
  margin-top: 35px;
  padding: 20px 0;
  text-align: center;
  color: #666666;

  a {
    color: #666666;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
  .locations li {
    padding: 1.25rem 0.625rem 0rem 0.625rem;
    line-height: 0;
    font-size: 1.8rem;
  }

  .footer-column-entry, #footer-legal {
    font-size: 1.8rem;
  }
}

@media(max-width: $screen-xs-max) {
  .logo .row > div {
    margin: 0;
  }

  .footer .locations {
    display: none !important;
  }

  .social {
    margin: 20px auto;
    padding: 0;
  }

  #footer-legal {
    font-size: 1.3rem;
    margin: 0;
  }
}
