@font-face {
  font-family: 'icomoon';
  src: url('#{$assets-base}/fonts/icomoon/icomoon.eot?-hx2nhm');
  src: url('#{$assets-base}/fonts/icomoon/icomoon.eot?#iefix-hx2nhm') format('embedded-opentype'),
       url('#{$assets-base}/fonts/icomoon/icomoon.woff?-hx2nhm') format('woff'),
       url('#{$assets-base}/fonts/icomoon/icomoon.ttf?-hx2nhm') format('truetype'),
       url('#{$assets-base}/fonts/icomoon/icomoon.svg?-hx2nhm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-setup3:before {
  content: "\21";
}

.icon-design:before {
  content: "\22";
}

.icon-security2:before {
  content: "\23";
}

.icon-updates:before {
  content: "\24";
}

.icon-speechbubble:before {
  content: "\25";
}

.icon-glass:before {
  content: "\26";
}

.icon-mobile:before {
  content: "\27";
}

.icon-epages:before {
  content: "\28";
}

.icon-all-functions:before {
  content: "\29";
}

.icon-bulb:before {
  content: "\2a";
}

.icon-calendar:before {
  content: "\2b";
}

.icon-chain:before {
  content: "\2c";
}

.icon-check:before {
  content: "\2d";
}

.icon-checklist:before {
  content: "\2e";
}

.icon-community:before {
  content: "\2f";
}

.icon-fruit:before {
  content: "\30";
}

.icon-gamepad:before {
  content: "\31";
}

.icon-house:before {
  content: "\32";
}

.icon-industry1:before {
  content: "\33";
}

.icon-industry2:before {
  content: "\34";
}

.icon-information:before {
  content: "\35";
}

.icon-network:before {
  content: "\36";
}

.icon-support:before {
  content: "\37";
}

.icon-laptop:before {
  content: "\38";
}

.icon-letter:before {
  content: "\39";
}

.icon-lifestyle:before {
  content: "\3a";
}

.icon-magicstick:before {
  content: "\3b";
}

.icon-marketing:before {
  content: "\3c";
}

.icon-menu:before {
  content: "\3d";
}

.icon-new:before {
  content: "\3e";
}

.icon-onestar:before {
  content: "\3f";
}

.icon-optimize:before {
  content: "\40";
}

.icon-partner:before {
  content: "\41";
}

.icon-partnership:before {
  content: "\42";
}

.icon-pen:before {
  content: "\43";
}

.icon-play:before {
  content: "\44";
}

.icon-phone:before {
  content: "\45";
}

.icon-security:before {
  content: "\46";
}

.icon-server1:before {
  content: "\47";
}

.icon-server2:before {
  content: "\48";
}

.icon-setup1:before {
  content: "\49";
}

.icon-setup2:before {
  content: "\4a";
}

.icon-shop:before {
  content: "\4b";
}

.icon-shoppingcartgroup:before {
  content: "\4c";
}

.icon-shoppingcartbig:before {
  content: "\4d";
}

.icon-shoppingcartsmall:before {
  content: "\4e";
}

.icon-shoppingcartmedium:before {
  content: "\4f";
}

.icon-statistics2:before {
  content: "\50";
}

.icon-statistics1:before {
  content: "\51";
}

.icon-tag:before {
  content: "\52";
}

.icon-t-shirt:before {
  content: "\53";
}

.icon-world:before {
  content: "\54";
}

.icon-zoom:before {
  content: "\55";
}

.icon-download:before {
  content: "\56";
}

.icon-paragraph:before {
  content: "\57";
}

.icon-person:before {
  content: "\58";
}

.icon-shipping:before {
  content: "\59";
}

.icon-arrowup:before {
  content: "\5a";
}

.icon-arrowright:before {
  content: "\5b";
}

.icon-arrowdown:before {
  content: "\5c";
}

.icon-arrowleft:before {
  content: "\5d";
}

.icon-xing:before {
  content: "\5e";
}

.icon-facebook:before {
  content: "\5f";
}

.icon-twitter:before {
  content: "\60";
}

.icon-googleplus:before {
  content: "\61";
}

.icon-youtube:before {
  content: "\62";
}

.icon-linkedin:before {
  content: "\63";
}

.icon-quit:before {
  content: "\64";
}

.icon-tie:before {
  content: "\65";
}

.icon-hat:before {
  content: "\66";
}

.icon-hand:before {
  content: "\67";
}

.icon-globe:before {
  content: "\68";
}

.icon-bus:before {
  content: "\69";
}

.icon-timer:before {
  content: "\6a";
}

.icon-videoclose:before {
  content: "\6b";
}

.icon-price:before {
  content: "\6c";
}

.icon-book:before {
  content: "\6d";
}

.icon-window:before {
  content: "\6e";
}

.icon-money:before {
  content: "\6f";
}

.icon-pdf:before {
  content: "\70";
}

.icon-document:before {
  content: "\71";
}

.icon-ceo:before {
  content: "\72";
}

.icon-product:before {
  content: "\73";
}

.icon-tech_partners:before {
  content: "\74";
}

.icon-staff:before {
  content: "\75";
}

.icon-shops:before {
  content: "\76";
}

.icon-languages:before {
  content: "\77";
}

.icon-offices:before {
  content: "\78";
}

.icon-countries:before {
  content: "\79";
}

.icon-key:before {
  content: "\7a";
}

.icon-events:before {
  content: "\7b";
}

.icon-sales_partners:before {
  content: "\7c";
}

.icon-mouse:before {
  content: "\7d";
}

.icon-seal:before {
  content: "\7e";
}

.icon-pig:before {
  content: "\a1";
}

.icon-github:before {
  content: "\a2";
}

.icon-jquery:before {
  content: "\a3";
}

.icon-atlassian:before {
  content: "\a4";
}

