//::::::::::::::::::::::::::::::
//:: Icon Fonts
//::::::::::::::::::::::::::::::
//:: Icons must be defined within a SASS list variable named '$icon-set'. Example below:
//:: $icon-set:  facebook e600, twitter e601;
//::::::::::::::::::::::::::::::

//::::::::::::::::::::::::::::::/Volumes/Macintosh%20HD/Users/laurakoeln/Documents/epages-docs-master/_sass/_iconfont.scss
//:: Default Variables
/*   The library definition. This is set in the iconmoon prefeences. Default is 'icomoon' */
$icon-font-library:             'epages' !default;

/*   The SASS list that powers everything. Derived from the css files provided by icomoon.  */
$icon-set:                      xing 5e, facebook 5f, twitter 60, googleplus 61, youtube 62, linkedin 63 !default;

/*   The directory that the specific font files reside in.  */
$fonts-directory:               '../fonts/iconfont/font' !default;

/*   Determine if CSS psuedo-elements will be using ::before, ::after, or both */
$iconfont-before-support:       true !default;
$iconfont-after-support:        false !default;

/*   Determine if support for IE7 and below is included */
$iconfont-lt-ie8-support:       true !default;

/*   Iconfonts are often links. Should these links underline by default or on hover. */
$icon-link-underline-static:    false !default;
$icon-link-underline-on-hover:  false !default;


//::::::::::::::::::::::::::::::
//:: Fontface
//:: Defining the @font-face decalartion. $icon-font-library and $fonts-directory are substituted in where necessary
@font-face {
  font-family: '#{$icon-font-library}';
  src:url('#{$fonts-directory}/#{$icon-font-library}.eot');
  src:url('#{$fonts-directory}/#{$icon-font-library}.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts-directory}/#{$icon-font-library}.woff') format('woff'),
    url('#{$fonts-directory}/#{$icon-font-library}.ttf') format('truetype'),
    url('#{$fonts-directory}/#{$icon-font-library}.svg##{$icon-font-library}') format('svg');
  font-weight: normal;
  font-style: normal;
}


//::::::::::::::::::::::::::::::
//:: Icon Base
[class^="icon-"],
[class*=" icon-"],
%icon-font-base {  // Silent clas that can be used to exend any element that does not have the class of 'icon-'

  &:before,
  &:after,
  .pseudo-after,
  .pseudo-before {
    font-family: '#{$icon-font-library}';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;

    @if $icon-link-underline-static {
      text-decoration: underline;
    }
    @else {
      text-decoration: none;
    }
    
    &:hover {
      @if $icon-link-underline-on-hover {
        text-decoration: underline !important;
      }
      @else {
        text-decoration: none !important;
      }
    }
  }
}

//::::::::::::::::::::::::::::::
//:: Definitions
@each $icon in $icon-set {
  $icon-name: nth($icon, 1);
  $icon-code: nth($icon, 2);

  @if $iconfont-before-support { // Does this implementation include '::before' support
    .icon-#{$icon-name},
    %icon-#{$icon-name} {
      &:before {
        content: "\#{$icon-code}";
      }
    }
  }
  @if $iconfont-after-support { // Does this implementation include '::after' support
    .icon-#{$icon-name}-r,
    %icon-#{$icon-name}-r {
      &:after {
        content: "\#{$icon-code}";
      }
    }
  }
  @if $iconfont-lt-ie8-support { // Does this implementation include support for IE7 and below
    .lt-ie8 { // Conditioal classess on html element indicate which legacy version of IE is being used.
      @if $iconfont-before-support {
        .icon-#{$icon-name} {
          zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x#{$icon-code};');
        }
      }
      @if $iconfont-after-support {
        .icon-#{$icon-name}-r {
          zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x#{$icon-code};');
        }
      }
    }
  }
}