#landingpage-banner {
  background-image: url('#{$assets-base}/images/landingpage-banner.jpg');
  background-position: center top;
  background-size: cover;

  &.landingpage-banner-small {
    background-image: none;
    padding: 1.5rem 0;
    background-color: #ddd;
    background: inherit;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: 20px 0;
  }

  @media print {
    display: none;
  }
}

#landingpage-banner-headline {
  color: white;
  text-align: center;
  font-size: 52px;
  text-shadow: $text-shadow;
  margin: 0 auto;
  padding-top: 40px;
  font-family: $font-family-base;
  font-style: italic;
  font-weight: 100;

  @media screen and (max-width: $screen-sm-max) {
    padding: 20px;
    font-size: 32px;
  }
}

#landingpage-banner-text {
  color: white;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.8em;
  text-shadow: $text-shadow;
  margin: 0 auto;
  padding: 40px;
  max-width: 60%;

  @media screen and (max-width: $screen-sm-max) {
    padding: 20px;
    font-size: 1.6rem;
    max-width: 100%;
  }
}

#pageoverview {
  padding-top: 40px;
  padding-bottom: 40px;

  font-size: 20px;

  @media screen and (max-width: $screen-sm-max) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.pageoverview-category {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

.pageoverview-headline {
  text-transform: uppercase;
  margin: 20px 0;
  color: $gray;
  font-weight: 300;
  font-style: italic;
  font-size: 1.8rem;
}

.pageoverview-entry {
  margin: 20px 0;
}
