#landingpage-banner {
  background-color: #6f5499;
  background-position: center top;
  background-size: 100% auto;

  @media print {
    display: none;
  }
}

#landingpage-banner-headline {
  color: white;
  text-align: center;
  font-size: 52px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  margin: 0 auto;
  padding: 40px;

  @media screen and (max-width: $screen-sm-max) {
    padding: 20px;
    font-size: 32px;
  }
}

#landingpage-banner-text {
  color: white;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  margin: 0 auto;
  padding: 40px;
  max-width: 640px;

  @media screen and (max-width: $screen-sm-max) {
    padding: 20px;
    font-size: 14px;
  }
}

#pageoverview {
  padding-top: 40px;
  padding-bottom: 40px;

  font-size: 20px;

  @media screen and (max-width: $screen-sm-max) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.pageoverview-category {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pageoverview-headline {
  text-transform: uppercase;
  margin: 20px 0;
  color: grey;
}

.pageoverview-entry {
  margin: 20px 0;
}
