.navbar
  position: fixed
  top: 0
  width: 100%
  height: $navbar-height
  display: flex
  align-items: center
  z-index: 9999
  transition: $base-transition

  +grid-media($grid-medium)
    height: auto

  &-wrapper
    width: 90%
    max-width: 1080px
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between

  .logo
    display: block

    &--devportal
      width: 23rem

  .navigation
    $navigation-width: 75%
    +position(absolute, 0 null null (-$navigation-width))
    background: $navbar-background-color
    height: 100vh
    z-index: 1
    width: $navigation-width

    +grid-media($grid-medium)
      background: inherit
      height: inherit
      position: relative
      float: right
      width: auto
      left: auto

    &--open
      left: 0
      transition: $base-transition

    &__list
      display: flex
      flex-direction: column

      +grid-media($grid-medium)
        flex-direction: row

    &__item
      position: relative
      border-bottom: $navbar-border
      display: flex
      flex-direction: column

      +grid-media($grid-medium)
        border-bottom: none

        &:not(:last-child)
          margin-right: 2rem

        &--hidden
          display: none

        &:hover .dropdown
          display: block

      svg
        display: block
        color: $beyond-green

        +grid-media($grid-medium)
          display: none

    &__link
      color: $base-font-color-white
      width: 100%
      padding: 1em
      box-sizing: border-box
      display: flex
      justify-content: space-between
      align-items: center

      +grid-media($grid-medium)
        padding: 1em 0

        &--disabled
          pointer-events: none
          cursor: default

      &:hover:not(.navigation__link--disabled),
      &:focus,
      &--active
        text-decoration: none
        color: $beyond-green

    &__button
      float: right
      color: $white

      +grid-media($grid-medium)
        display: none

    &__background
      +position(absolute, 0 null null 0)
      width: 100vw
      height: 100vh
      background: rgba(0, 0, 0, .4)
      display: none

      +grid-media($grid-medium)
        display: none

  &--transparent
    background: linear-gradient(rgba(60,60,60,.5), rgba(0,0,0,0))

    .navigation

      &__link

        +grid-media($grid-medium)
          text-shadow: $base-text-shadow

  &--dark
    background: $navbar-background-color

.dropdown
  background-color: $beyond-green
  display: none
  list-style: none

  +grid-media($grid-medium)
    +border-bottom-radius(4px)
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: 100%
    padding: 5px 0

    &::before
      +triangle('up', 2rem, 1rem, $beyond-green)
      +position(absolute, -1rem 50% null null)
      transform: translateX(50%)
      content: ''

    &--border
      +border-top-radius(4px)

  &__link
    width: 100%
    white-space: nowrap
    color: $white
    padding: .7em
    box-sizing: border-box

    +grid-media($grid-medium)
      padding: .6rem 1.8rem

    &.navigation__link--active,
    &:hover
      background-color: darken($beyond-green, 10%)
      color: $white
