.http-method {
  @extend .label;
  @extend .label-default;

  display: inline-block;
  width: 75px;
}

.http-method-get {
  $color: #5f97cf;
  background-color: $color;
  border: 1px solid darken($color, 10%);
}

.http-method-post {
  $color: #35a855;
  background-color: $color;
  border: 1px solid darken($color, 10%);
}

.http-method-put {
  $color: #d2c329;
  background-color: $color;
  border: 1px solid darken($color, 10%);
}

.http-method-delete {
  $color: #da4848;
  background-color: $color;
  border: 1px solid darken($color, 10%);
}

.label-default:hover, .http-method:hover {
  background-color: #ddd;
  border: 1px solid #ddd;
  color: #333;
}
