#resource-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resource-entry {
  padding: 0;
  margin: 10px 0;

  font-family: $font-family-monospace;

  word-break: break-all;
  word-wrap: break-word;
}

.ep-label {
  font-size: 10px;
  padding: .2rem .4rem;
  border-radius: 3px;
  position: relative;
  bottom: 10px;

  &.ep-label-6 {
    color: $midnight;
    border: 1px solid $midnight;
  }

  &.ep-label-now {
    color: $red;
    border: 1px solid $red;
  }
}
