#landingpage-banner-search {
  width: 60%;
  margin: 0 auto;
  padding: 4rem;
  padding-top: 2rem;
}

#search-form {
  width: 80%;
  display: inline-block;
}

#search-box {
font-size: 18px;
padding: 18px 10px;
line-height: 28px;
}

#search-results {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.search-result {
  padding: 0;
  margin: 10px 0;
}

.search-highlight em {
  font-weight: bold;
  background-color: yellow;
}

.form-group {
  padding: 1.5rem 0 1.5rem 1.5rem;
}


.form-control {
  border-radius: 0;
}

.btn-search {
  background-color: $green;
  border-radius: 0;
  border: 1px solid $green;
  color: #fff;
  font-size: 1.8rem;
  min-height: 16px;
  line-height: 24px;
  margin: 1.5rem 0;
  padding: 0.6rem 5%;
  
  &:hover, &:active, &:focus {
    background-color: darken( $green, 5%);
    border: 1px solid darken( $green, 5%);
    color: #fff;
  }
}

@media screen and (max-width: $screen-md-max) {
  #landingpage-banner-search {
    width: 60%;
  }
    .btn-search {
      padding: 0.6rem 4rem;
    }
  }
  
@media screen and (max-width: $screen-sm-max) {
  #landingpage-banner-search {
    width: 100%;
  }
}