#landingpage-banner-search {
  width: 80%;
  margin: 0 auto;
  padding: 4rem;
  padding-top: 2rem;

  @media screen and (min-width: $screen-lg-min) {
    width: 45%;
  }

  @media screen and (max-width: $screen-md-max) {
    width: 70%;
  }

  @media screen and (max-width: $screen-sm-max) {
    width: 90%;
  }
}

#search-box {
  font-size: 18px;
  padding: 18px 10px 18px 40px;
  line-height: 28px;
  background: #fff url("/assets/images/search.png") left center no-repeat;
}

#search-results {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.search-result {
  padding: 0;
  margin: 10px 0;
}

.search-highlight {
  &:before {
    content: "…";
  }

  &:after {
    content: "…";
  }

  em {
    font-weight: bold;
    background-color: yellow;
  }
}

.form-control {
  border-radius: 0;
}

.btn-search {
  background-color: $green;
  border-radius: 0;
  border: 1px solid $green;
  color: #fff;
  font-size: 1.8rem;
  min-height: 16px;
  line-height: 24px;
  text-decoration: none;

  &:hover, &:active, &:focus {
    background-color: darken( $green, 5%);
    border: 1px solid darken( $green, 5%);
    color: #fff;
    text-decoration: none;
  }
}
