#sitemap {
    list-style: none;
    margin: 0;
    padding: 0;

    border-right: 1px solid lightgray;
}

.sitemap-headline {
    text-transform: uppercase;
    margin: 20px 0 5px 0;
}

.sitemap-entry {
    margin: 5px 0;
}
