#sitemap {
  list-style: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid lightgray;

  & > *:first-child {
    margin-top: 0;
  }
}

.sitemap-headline {
  text-transform: uppercase;
  margin: 40px 0 10px;
  color: $gray;
  font-weight: 300;
  font-style: italic;
  font-size: 1.8rem;
}

.sitemap-entry {
  margin: 5px 0;
}

a {
  color: $petrol;
}
