#sitemap {
  list-style: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid lightgray;

  & > *:first-child {
    margin-top: 0;
  }
}

.sitemap-headline {
  margin: 40px 0 10px;
  font-family: ProximaNova-Bold;
  font-size: 18px;
  color: #333333;
}

.sitemap-entry {
  margin: 5px 0;
}

a {
  font-family: ProximaNova-Regular;
  font-size: 16px;
  line-height: 1.9;
  color: #28b363;
  text-decoration: none;

  &:hover {
    color: #1e9852;
    text-decoration: underline;
  }
}
