#sitemap {
  list-style: none;
  margin: 0;
  padding: 0;

  border-right: 1px solid lightgray;
}

.sitemap-headline {
  text-transform: uppercase;
  margin: 40px 0 10px;
  color: $gray;
  font-weight: 300;
  font-style: italic;
  font-size: 1.6rem;
}

.sitemap-entry {
  margin: 5px 0;
}
