$font-family-base: 'ProximaNova', Helvetica, Trebuchet MS, Arial;
$fa-font-path: $assets-base + '/fonts/font-awesome';

/* Spacer */
$spacerL-height: 110px;
$spacerM-height: 60px;
$spacerS-height: 20px;

/* Colors */
$green: #20a157;
$petrol: #1b5c7e;
$gray: #999;
$bgFooter: #444;
$input-color: #333333;
$brand-red: #D41217;
$red: #e84a3c;
$midnight: #32465f;

$text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
