---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$assets-base: {{ "/assets" | prepend: site.baseurl }};

@import "_variables";
@import "_bootstrap";
@import "_fonts";
@import "_landingpage";
@import "_footer";
@import "_syntax-highlighting";
@import "_resourcelist";
@import "_search";
@import "_thankyou";
@import "_icomoon";
@import "_resources";
@import "_socialmedia";
@import "font-awesome/_font-awesome";
@import "_base";

#iframe-popup {
  max-width: 900px !important;
  min-width: 400px !important;
  min-height: 496px !important;
}

#cheat-frame-now, #cheat-frame-2-now,
#cheat-frame-6, #cheat-frame-2-6 {
  display: none;
}
