---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$assets-base: {{ "/assets" | prepend: site.baseurl }};
$font-family-base: 'Meta', Helvetica, Trebuchet MS, Arial;

/* Spacer */
$spacerL-height: 110px;
$spacerM-height: 60px;
$spacerS-height: 20px;

/* Colors */
$green: #20908d;
$petrol: #1b5c7e;
$gray: #999;

$text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);

@import "_fonts";
@import "_bootstrap";
@import "_landingpage";
@import "_footer";
@import "_syntax-highlighting";
@import "_sitemap";
@import "_resourcelist";
@import "_search";
@import "_thankyou";
@import "_icomoon";

html, body {
  overflow-x: hidden;
}

nav {
  margin-bottom: 0 !important;

  .navbar-nav .pull-right {
  margin: 0 6px;
  font-size: 18px;
  padding: 15px 20px;
  }
}

a {
  color: $petrol;
}

#content {
  background-color: white;
  padding: 25px 0;
  line-height: 1.7em;

  @media screen and (max-width: $screen-sm-max) {
    padding: 0;
  }
}

body {
  background-color: #444444;
  font: 180% $font-family-base;
  -webkit-font-smoothing: antialiased;
  padding-top: 50px;
  position: relative;}

p {
  margin: 0 0 40px;
}

.page-header {
  margin-top: 40px;

  h1 {
    font-size: $font-size-h1 * 1.5;
    font-style: italic;
    font-weight: 400;
  }

  @media screen and (max-width: $screen-xs-max) {
    margin-top: 0;
  }
}

article {
  h1, h2, h3, h4, h5, h6 {
    font-style: italic;
  }

  h2 {
    margin-top: 40px;
  }

  table {
    @extend .table;
    @extend .table-bordered;

    thead {
      background-color: #f2f2f2;
    }
  }

  a {
    color: $petrol;
    text-decoration: underline;

    &:hover {
      color: darken($petrol, 20)
    }
  }

  li {
    ul {
      li {
        list-style-type: none;
        margin-left: -25px;

        &:before {
        content: url("#{$assets-base}/images/list2.png") no-repeat;
        margin-right: 10px;
        }
      }
    }
  }
}

b, strong {
  font-weight: 900;
}

.imagebox {
  border: 1px solid silver;
  border-radius: 0;
  padding: 10px;

  margin: 0 0 ($line-height-computed / 2);
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    border-radius: $border-radius-small;
  }

  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.glyphicon {
  top: 0;
}

.alert {
  margin: 40px 0;
}

.spacer110 {
  height: $spacerL-height;
  clear: both;
}

.spacer60 {
  height: $spacerM-height;
  clear: both;
}

.spacer20 {
  height: $spacerS-height;
  clear: both;
}
