---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$assets-base: {{ "/assets" | prepend: site.baseurl }};
$font-family-base: 'Meta-Light', Helvetica, Trebuchet MS, Arial;

/* Spacer */
$spacerL-height: 110px;
$spacerM-height: 60px; 
$spacerS-height: 20px; 

/* Colors */
$petrol: #1B5C7E;
$gray: #999;

$text-shadow: 0 1px 1px rgba(0,0,0,0.8);

@import "_iconfont";
@import "_fonts";
@import "_bootstrap";
@import "_landingpage";
@import "_footer";
@import "_syntax-highlighting";
@import "_sitemap";
@import "_resourcelist";
@import "_search";

  .logo {
	  display: inline-block;
	  width: 120px;
	  height: 30px;
	  background: transparent url("/epages-docs/assets/images/epages-logo-white.png") center center no-repeat;
	  background-size: contain;
	  text-indent: -9999px;
	  overflow: hidden;
  }
  
nav {
    margin-bottom: 0 !important;
    
    .navbar-nav .pull-right {
	    margin: 0 6px;
		font-size: 18px;
		padding: 15px 20px;
    }
}



#content {
  background-color: white;
  padding: 25px 0;
  line-height: 1.7em;

    @media screen and (max-width: $screen-sm-max) {
    padding: 0;
  }
}

body {
  background-color: #333333;
   font: 160% $font-family-base;
}

a {color: $petrol;}

p {
	margin: 0 0 20px;

}
  
article {
  h1 {
    @extend h2;
    font-style: italic;
    font-weight: 400;
    margin-top: 60px;
  }

  h2 {
    @extend h3;
    font-style: italic;
    margin-top: 40px;

  }

  h3 {
    @extend h4;
    font-style: italic;
  }
  

  table {
    @extend .table;
    @extend .table-bordered;
  }
  
}

.imagebox {
  border: 1px solid silver;
  border-radius: $border-radius-base;
  padding: 10px;

  margin: 0 0 ($line-height-computed / 2);
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    border-radius: $border-radius-small;
  }

  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.spacer110 {
	height: $spacerL-height; clear: both;
}

.spacer60 {
	height: $spacerM-height; clear: both;
}

.spacer20 {
	height: $spacerS-height; clear: both;
}
