---
layout: devjobs
permalink: /devjobs/
---

<div id="page">
  <div class="ep_nav navbar index" role="navigation">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a href="http://www.epages.com" class="logo"></a>
            <div class="menu-btn">
              <a href="/apps/" class="lang-btn">API</a>
              <a href="/blog/" class="lang-btn">Blog</a>
              <a href="/support/" class="lang-btn">Support</a>
              <a href="/devjobs/" class="lang-btn active">We're hiring</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <header id="header" class="container-fluid">
    <div class="mask"></div>
    <div class="container intro">
      <div class="relativeScaler"></div>
      <div class="row">
        <div class="col-md-12">
          <h1>Our {code} speaks e-commerce</h1>
          <div class="hidden-xs spacer20"></div>
          <h3 class="hidden-xs">Join one of the leading developer teams for online shop software</h3>
        </div>
      </div>
    </div>
  </header>

  <div id="block0" class="container-fluid darkGray">
    <div class="container">
      <div class="spacer110"></div>
      <div class="row">
        <div class="col-md-12">
          <h2 id="devjobs">Exciting. Challenging. Grow with us.</h2>
          <div class="spacer20"></div>
          <p class="center">Do you love coding? Are you keen for a new challenge? We are offering various job opportunities&nbsp;especially for experienced web developers.</p>
        </div>
      </div>
      <div class="spacer20"></div>
      <div class="spacer20"></div>
      <div class="row">
        {% assign jobs = site.data['devjobs'] %}
        {% for job in jobs %}
          <div class="col-md-4 jobDesc">
            <h3><a target="_blank" href="{{ job.link }}">{{ job.title }}</a></h3>
            <p class="info">{{ job.short_description }}</p>
            <h4 class="location">{{ job.location }}</h4>
          </div>
        {% endfor %}
      </div>
      <div class="spacer60"></div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="center">More web developer jobs at ePages.</h4>
          <div class="spacer20"></div>
          <div class="center">
            <a href="http://www.epages.com/en/career/" class="joballen btn btn-primary green">All jobs openings</a>
          </div>
        </div>
      </div>
      <div class="spacer60"></div>
    </div>
  </div>

  <div id="block1" class="container-fluid darkGray">
    <div class="container">
      <div class="spacer110"></div>
      <div class="row">
        <div class="col-md-12">
          <h2 id="jointheforce">Join the Force! We are developing the next generation commerce platform</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="spacer60"></div>
          <h3>Shape the ePages software with us</h3>
          <div class="spacer20"></div>
          <p>With our online shop software a merchant receives a complete package to hit the ground running in commerce. We are constantly working on our solution to keep it up-to-date with new market developments, for example integrating new features.</p>
          <div class="spacer60"></div>
          <h3>Our focus: User experience and connectivity</h3>
          <div class="spacer20"></div>
          <div><ul>
            <li><strong></strong>A <strong>{user-friendly storefront}</strong> to optimise the shopping experience for the end user.</li>
            <li><strong>{Easy-to-use editor}</strong> and backend making it convenient for the merchant in daily business.</li>
            <li>The <strong>{RESTful API}</strong> allows third parties to integrate their service with ease.</li>
          </ul></div>
          <div class="spacer60"></div>
          <h3>Make the step: Join the ePages team</h3>
          <div class="spacer20"></div>
          <p>We are looking for more dedicated developers to join our team.&nbsp;Bring your ideas and let's shape the next generation commerce platform together.<br></p>
        </div>
      </div>
      <div class="spacer110"></div>
    </div>
  </div>

  <div id="block3" class="container-fluid lightGray">
    <div class="mask"></div>
    <div class="container">
      <div class="spacer110"></div>
      <div class="row">
        <div class="col-md-6">
          <h2 id="about">Our story</h2>
          <div class="spacer20"></div>
          <p>We develop high performing online shop software. Established for years, we are one of the market leaders worldwide. More than 140,000 businesses use our online shop solution already.</p>
          <div class="spacer20"></div>
          <p>We love e-commerce and we always have an eye on the latest trends on the market.</p>
        </div>
      </div>
      <div class="spacer110"></div>
      <div class="spacer60"></div>
    </div>
  </div>

  <div id="block4" class="container-fluid lightGray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="benefits">What we offer</h2>
          <div class="spacer20"></div>
          <p class="center">Working at ePages means being part of a growing international team, full of e-commerce experts who are passionate for web development. In the backend we are working modular with Java, JPA, MySQL, MongoDB and Solr which is decoupled from the Node.js frontend by a REST-API. We also work with GitHub, Vagrant, Jenkins, Selenium, Docker and Jira. We place great emphasis on test-driven-development and continuous integration.</p>
          <div class="spacer20"></div>
          <p class="center">Great perspectives for developing your career: Be involved in exciting projects and benefit of the full load of advantages ePages is offering to you.</p>
        </div>
      </div>
      <div class="spacer60"></div>
      <div id="tiles" class="row">
        <div class="col-sm-6 col-md-3 tile first">
          <div class="iconOuter" style="height: 184px;">
            <div class="the-icon col-sm-3"><span class="glyphicon icon-tie"></span></div>
            <div class="the-text col-sm-9"><h4>An interesting job in a fast growing industry</h4></div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 hidden-xs tile">
          <div class="iconOuter darkGray" style="height: 184px;">
            <div class="the-icon col-sm-3"><span class="glyphicon icon-network"></span></div>
            <div class="the-text col-sm-9"><h4>Flat hierarchies and quick decision-making</h4></div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 tile second">
          <div class="iconOuter" style="height: 184px;">
            <div class="the-icon col-sm-3"><span class="glyphicon icon-hand"></span></div>
            <div class="the-text col-sm-9"><h4>An excellent working atmosphere</h4></div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 hidden-xs tile">
          <div class="iconOuter darkGray" style="height: 184px;">
            <div class="the-icon col-sm-3"><span class="glyphicon icon-globe"></span></div>
            <div class="the-text col-sm-9"><h4>A growing international team</h4></div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 tile third">
          <div class="iconOuter darkGray" style="height: 184px;">
            <div class="the-icon col-sm-3 special"><span class="glyphicon icon-jquery"></span><span class="glyphicon icon-atlassian"></span><span class="glyphicon icon-github"></span></div>
            <div class="the-text col-sm-9"><h4>Work with popular tools</h4></div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 tile fourth">
          <div class="iconOuter" style="height: 184px;">
            <div class="the-icon col-sm-3"><span class="glyphicon icon-laptop"></span></div>
            <div class="the-text col-sm-9"><h4>Choose your laptop: Mac, Linux, Windows</h4></div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 tile fifth">
          <div class="iconOuter darkGray" style="height: 184px;">
            <div class="the-icon col-sm-3"><span class="glyphicon icon-community"></span></div>
            <div class="the-text col-sm-9"><h4>Scrum teams</h4></div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 hidden-xs tile">
          <div class="iconOuter" style="height: 184px;">
            <div class="the-icon col-sm-3"><span class="glyphicon icon-hat"></span></div>
            <div class="the-text col-sm-9"><h4>Option for individual training</h4></div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 hidden-xs tile">
          <div class="iconOuter" style="height: 184px;">
            <div class="the-icon col-sm-3"><span class="glyphicon icon-gamepad"></span></div>
            <div class="the-text col-sm-9"><h4>Regular organised team events</h4></div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 hidden-xs tile">
          <div class="iconOuter darkGray" style="height: 184px;">
            <div class="the-icon col-sm-3"><span class="glyphicon icon-fruit"></span></div>
            <div class="the-text col-sm-9"><h4>Further advantages such as lunch allowance and language courses</h4></div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 hidden-xs tile">
          <div class="iconOuter" style="height: 184px;">
            <div class="the-icon col-sm-3"><span class="glyphicon icon-timer"></span></div>
            <div class="the-text col-sm-9"><h4>Flexible working hours<br></h4></div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 hidden-xs tile">
          <div class="iconOuter darkGray" style="height: 184px;">
            <div class="the-icon col-sm-3"><span class="glyphicon icon-bus"></span></div>
            <div class="the-text col-sm-9"><h4>Centrally located offices with excellent public transportation</h4></div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="spacer110"></div>
    </div>
  </div>

  <div id="block9" class="container-fluid darkGray">
    <div class="container">
      <div class="spacer110"></div>
      <div class="row hidden-xs">
        <div class="col-xs-offset-5 col-xs-2 col-md-offset-5 col-md-2 center">
          <img style="width: 50%" src="/assets/images/devjobs/devs-logo.png" alt="devs-logo">
        </div>
      </div>
      <div class="spacer20"></div>
      <div class="row">
        <div class="col-md-12">
          <h2>Explore the ePages Dev Blog</h2>
        </div>
      </div>
      <div class="spacer20"></div>
      <div class="row">
        <div class="col-md-12 center">
          <p>The ePages developer teams are blogging <a href="https://developer.epages.com/blog/" target="_blank" data-tracking-id="8577076f" data-tracking-group="c40bf6cc" class="trackable">here</a>&nbsp;regularly about technical issues. They also share their experiences from conferences and hackathons as well as writing about different team events. In the dev blog you will also find info about career fairs and coding events which ePages regularly attends.</p>
          <div class="spacer20"></div>
          <a href="https://developer.epages.com/blog/" target="_blank" class="joballen btn btn-primary green">ePages Dev Blog</a>
        </div>
      </div>
      <div class="spacer110"></div>
    </div>
  </div>

  <div id="block-custom" class="container-fluid lightGray">
    <div class="mask"></div>
  </div>

  <div id="block6" class="container-fluid lightGray">
    <div class="container">
      <div class="spacer60"></div>
      <div class="row">
        <div class="col-md-12">
          <h2 id="getintouch">Get in touch with us!</h2>
          <div class="spacer20"></div>
          <p class="center">Find out more about your career opportunities at ePages.</p>
        </div>
      </div>
      <div class="spacer60"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-sm-offset-0 col-md-4 col-md-offset-2">
            <div class="row contact">
              <div class="col-md-12">
                <div class="icon"><span class="glyphicon icon-letter"></span></div>
                <p><a href="mailto:hr@epages.com" class="mailen">hr@epages.com</a></p>
              </div>
            </div>
            <div class="row contact">
              <div class="col-md-12">
                <div class="icon"><span class="glyphicon icon-phone"></span></div>
                <p>+49-40-350 188-0</p>
              </div>
            </div>
            <div class="row contact">
              <div class="col-md-12">
                <div class="icon"><span class="glyphicon icon-twitter"></span></div>
                <p><a href="http://www.twitter.com/epagesdevs/" class="twitter1en">@epagesdevs</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="row contact">
              <div class="col-md-12">
                <div class="icon"><span class="glyphicon icon-partner"></span></div>
                <p>Harm Behrens | CTO</p>
              </div>
            </div>
            <div class="row contact">
              <div class="col-md-12">
                <div class="icon"><span class="glyphicon icon-twitter"></span></div>
                <p><a href="http://www.twitter.com/netzfisch/" class="twitter2en">@netzfisch</a></p>
              </div>
            </div>
            <div class="row contact">
              <div class="col-md-12">
                <div class="icon"><span class="glyphicon icon-bulb"></span></div>
                <p><a href="https://developer.epages.com/blog/" target="_blank" class="twitter2">ePages Devs Blog</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer110"></div>
    </div>
  </div>

  <div id="block7" class="container-fluid darkGray">
    <div class="container">
      <div class="spacer110"></div>
      <div class="row">
        <div class="col-md-12">
          <h2 id="meetus">Let's meet</h2>
          <div class="spacer60"></div>
          {% assign events = site.data['events'] %}
          {% for event in events %}
            {% assign side = forloop.index | modulo: 2 %}
            <div class="row timeline">
              <div class="{% if side == 0 %}col-md-offset-6{% endif %} col-md-6 event{% if side == 0 %}2{% endif %}">
                <div class="line"></div>
                <h3>
                  {% if event.link %}
                    <a class="trackable" href="{{ event.link }}" target="_blank">{{ event.title }}</a>
                  {% else %}
                    {{ event.title }}
                  {% endif %}
                  </h3>
                <div class="spacer20"></div>
                <p class="info">{{ event.info }}</p>
                <p class="location">{{ event.location }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="spacer110"></div>
    </div>
  </div>

  <div id="block8" class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <a href="http://www.epages.com/en/career/" class="joballen btn btn-primary green">All job openings <span class="glyphicon icon-arrowright"></span></a>
      </div>
    </div>
  </div>
</div>

<script>
  window.onscroll = function() {
    var offset = 444;
    if (document.body.scrollTop > offset || document.documentElement.scrollTop > offset) {
      document.getElementsByClassName("ep_nav")[0].classList.remove("index")
    } else {
      document.getElementsByClassName("ep_nav")[0].classList.add("index");
    }
  };
</script>
