---
layout: default
---
<!-- TODO replace with a smaller version -->
<div id="landingpage">
  <div id="landingpage-banner">
    <div id="landingpage-banner-search" style="padding: 0;">
      <form id="search-form" autocomplete="off">
        <div class="form-group">
          <input id="search-box" type="text" placeholder="Enter your search here" class="form-control"/>
        </div>
      </form>
      <button type="submit" class="btn btn-search">Search</button>
    </div>
  </div>
</div>
<!-- TODO end -->
<div id="content">
  <div class="container">
    {{ content }}
  </div>
</div>
