<!DOCTYPE html>
<html>
  {% include head.html %}
  <body data-spy="scroll" data-target=".navbar-scroll">
    {% include header.html %}
    <div id="landingpage">
      <div id="landingpage-banner">
        <div id="landingpage-banner-headline">{{ site.data['landingpage'].header.title }}</div>
        <div id="landingpage-banner-text">{{ site.data['landingpage'].header.text }}</div>
        <div id="landingpage-banner-search">
          <form id="search-form" autocomplete="off">
            <div class="form-group">
              <input id="search-box" type="text" placeholder="Enter your search here" class="form-control"/>
            </div>
          </form>
          <button type="submit" class="btn btn-search">Search</button>
        </div>
      </div>
    </div>
    {{ content }}
    {% include footer.html %}
  </body>
</html>
