---
layout: default
---

{% assign chapter = page.url | regex_extract: '^/([^/]+)/' %}
{% assign sitemap = chapter | sitemap %}

{% if chapter == 'blog' %}
<div id="landingpage">
  <div class="landingpage-banner-small" {% if page.image %}style="background-image:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)
    ),url('{{ page.image }}')"{% endif %}>
  <div id="landingpage-banner-headline-small">
    {% if page.title %}{{ page.title }}
    <div class="post-meta">
      {{ page.date | date: "%b %-d, %Y" }} authored by {{ page.authors | join: ' and ' }}
    </div>
    <img class="img-responsive" src="{{ post.image }}" alt="" />
    {% else %}Developer Blog{% endif %}
  </div>
</div>
</div>
{% endif %}

{% if chapter == 'apps' %}
<div id="landingpage">
  <div id="landingpage-banner">
  <div id="landingpage-banner-headline">
    REST API Documentation
  </div>
  <div id="landingpage-banner-search">
    <form method="get" action="{{ '/search.html' | prepend: site.baseurl }}" autocomplete="off" class="navbar-form text-center" role="search" >
      <div class="input-group">
        <input id="search-box" type="text" name="q" placeholder="Enter your search here" class="form-control"/>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-block btn-search">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
{% endif %}

{% if chapter == 'soap' %}
<div id="landingpage">
  <div id="landingpage-banner">
  <div id="landingpage-banner-headline">
    SOAP API Documentation
  </div>
  <div id="landingpage-banner-search">
    <form method="get" action="{{ '/search.html' | prepend: site.baseurl }}" autocomplete="off" class="navbar-form text-center" role="search" >
      <div class="input-group">
        <input id="search-box" type="text" name="q" placeholder="Enter your search here" class="form-control"/>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-block btn-search">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
{% endif %}


<div id="content">
  <div class="container">
    <div class="row">
      {% unless page.hide_sitemap %}
        <div class="col-sm-3 hidden-xs">
          <ul id="sitemap">
          {% for category in sitemap %}
            <li class="sitemap-headline">{{ category.title }}</li>
            {% for entry in category.entries %}
              <li class="sitemap-entry">{% sitemap_link entry %}</li>
            {% endfor %}
          {% endfor %}
          <div class="post-share">
            {% assign full_url = page.url | prepend: site.baseurl | prepend: site.url %}
            {% assign title = page.title %}
            <h4 class="sitemap-headline">Share</h4>
            <ul class="socialmedia">
              <li><a href="https://twitter.com/intent/tweet?text={{ title | url_escape }}&url={{ full_url | url_escape }}&via=epagesdevs&tw_p=tweetbutton" target="_blank" title="Share via Twitter"><span class="icon-twitter"></span></a></li>
              <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ full_url | url_escape }}" target="_blank"><span class="icon-facebook" title="Share via Facebook"></span></a></li>
              <li><a href="https://plus.google.com/share?url={{ full_url | url_escape }}" target="_blank"><span class="icon-googleplus" title="Share via Google+"></span></a></li>
            </ul>
          </div>

          </ul>
        </div>
        <div class="col-sm-9">
      {% endunless %}
      <article>
        {{ content }}
      </article>
      {% unless page.hide_sitemap %}
        </div>
      {% endunless %}
    </div>
    {% include pagination.html %}
  </div>
</div>

<section class="soap-banner">
    <p>Not registered for the developer program yet? <a href="{{ '/devjobs' | prepend: site.baseurl }}">Join now</a></p>
</section>
