---
layout: default
---

{% assign chapter = page.url | regex_extract: '^/([^/]+)/' %}
{% assign sitemap = chapter | sitemap %}
{% if page.header %}
  {% assign title = page.header %}
{% elsif page.title %}
  {% assign title = page.title %}
{% elsif chapter == 'apps' %}
  {% assign title = 'API reference' %}
{% elsif chapter == 'blog' %}
  {% assign title = 'Developer blog'  %}
{% endif %}

<header id="header" class="jumbotron"
  {% if page.image %}style="background: linear-gradient(rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.15)), url('/assets/images/{{ page.image }}')"
  {% elsif page.categories and page.key !="apps-glossary" %}
    {% assign category = page.categories | first %}
    style="background: linear-gradient(rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.15)), url('/assets/images/blog/categories/{{ category }}.jpg')"
  {% endif %}>
  <h1>{{ title }}</h1>
  {% if page.date and page.authors %}<h3 class="subtitle">{{ page.date | date: "%b %-d, %Y" }} authored by {{ page.authors | join: ' and ' }}</h3>{% endif %}
  {% if chapter == 'apps' and page.key != 'apps-faq' %}
    <form method="get" action="https://google.com/search" autocomplete="off">
      <div class="input-group">
        <input type="text" class="form-control" name="q" placeholder="Enter your search here" required/>
        <input type="hidden" name="as_sitesearch" value="developer.epages.com"/>
        <button class="cta" type="submit">Search</button>
      </div>
    </form>
  {% endif %}
</header>

<div id="content">
  <div class="container">
    {% assign versions = site.data['api-versions']['versions'] %}
    {% unless page.hide_sitemap %}
      <div class="contentnav">
        <ul id="sitemap">
          {% if chapter contains 'apps' %}
            <li class="sitemap-headline">ePagesJ release<br />
              <select id="api-version" name="version">
                <option value="" selected>{{ site.data['api-versions']['latest'] }}</option>
                {% for version in versions reversed %}
                  <option value="v-{{ version['title'] }}">{{ version['title'] }}</option>
                {% endfor %}
              </select>
            </li>
          {% endif %}
          {% for category in sitemap %}
            <li class="sitemap-headline">{{ category.title }}</li>
            {% for entry in category.entries %}
              <li class="sitemap-entry">{% sitemap_link entry %}</li>
            {% endfor %}
          {% endfor %}
          {% if chapter == 'blog' and page.title %}
            <li class="sitemap-headline">Share<br />
              <ul class="socialmedia">
                <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | prepend: site.url }}&via=epagesdevs&tw_p=tweetbutton" target="_blank" title="Share via Twitter"><span class="icon-twitter"></span></a></li>
                <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}" target="_blank"><span class="icon-facebook" title="Share via Facebook"></span></a></li>
                <li class="googleplus"><a href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}" target="_blank"><span class="icon-googleplus" title="Share via Google+"></span></a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endunless %}
    <div class="content-inner">
      <article>
        {{ content }}
      </article>
      {% include pagination.html %}
    </div>
  </div>
</div>

{% unless page.title %}
  <section class="container-fluid prefooter">
    <p>Not registered for the developer program yet? <a href="http://www.epages.cloud/developer/">Join now</a></p>
  </section>
{% endunless %}

{% include api-versioning.html %}
