---
layout: default
---

{% assign chapter = page.url | regex_extract: '^/([^/]+)/' %}
{% assign sitemap = chapter | sitemap %}
{% if chapter == 'apps' %}
  {% assign title = 'API Reference' %}
{% elsif chapter == 'blog' and page.title %}
  {% assign title = page.title %}
{% elsif chapter == 'blog' %}
  {% assign title = 'Developer Blog'  %}
{% endif %}

<header id="header" class="jumbotron" {% if page.image %}style="background: linear-gradient(rgba(50, 50, 50, 0.4), rgba(50, 50, 50, 0.15)), url('/assets/images/{{ page.image }}')"{% endif %}>
  <h1>{{ title }}</h1>
  {% if page.date and page.authors %}<h3 class="subtitle">{{ page.date | date: "%b %-d, %Y" }} authored by {{ page.authors | join: ' and ' }}</h3>{% endif %}
</header>

<div id="content">
  <div class="container">
    {% unless page.hide_sitemap %}
      <div class="contentnav">
        <ul id="sitemap">
          {% for category in sitemap %}
            <li class="sitemap-headline">{{ category.title }}</li>
            {% for entry in category.entries %}
              <li class="sitemap-entry">{% sitemap_link entry %}</li>
            {% endfor %}
          {% endfor %}
          <li class="sitemap-headline">Share<br />
            <ul class="socialmedia">
              <li class="twitter"><a href="https://twitter.com/intent/tweet?text=&url=https://developer.epages.com/blog/index.html&via=epagesdevs&tw_p=tweetbutton" target="_blank" title="Share via Twitter"><span class="icon-twitter"></span></a></li>
              <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=https://developer.epages.com/blog/index.html" target="_blank"><span class="icon-facebook" title="Share via Facebook"></span></a></li>
              <li class="googleplus"><a href="https://plus.google.com/share?url=https://developer.epages.com/blog/index.html" target="_blank"><span class="icon-googleplus" title="Share via Google+"></span></a></li>
            </ul>
          </li>
        </ul>
      </div>
    {% endunless %}
    <div class="content-inner">
      <article>
        {{ content }}
      </article>
    </div>
    {% include pagination.html %}
  </div>
</div>

{% unless page.title %}
  <section class="container-fluid prefooter">
    <p>Not registered for the developer program yet? <a href="http://www.epages.cloud/developer/">Join now</a></p>
  </section>
{% endunless %}
