---
layout: page
---

<ul class="post-list">
  {% for post in page.posts %}
    <li class="post-item">
      <h2 class="post-title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }} authored by {{ post.authors | join: ' and ' }}</div>
      <p>
        <i class="fa fa-{{ post.icon }} fa-3x pull-left fa-border"></i>
        {{ post.excerpt | strip_html }}
      </p>
      <p class="clear">
        <a href="{{ post.url | prepend: site.baseurl }}">Continue reading...</a>
      </p>
    </li>
  {% endfor %}
</ul>
