---
layout: page
---

<h2>Basic information</h2>

{% if page.raml_resource.description != null %}
  <p>{{ page.raml_resource.description | markdownify }}</p>
{% endif %}

<pre>{{ page.raml_method.method }} {{ page.raml_resource.relative_uri }}</pre>

{% if page.raml_method.description != null %}
  <p>{{ page.raml_method.description | markdownify }}</p>
{% endif %}

{% if page.raml_resource.uri_parameters. != empty %}
  <h2>URI parameters</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for p_tmp in page.raml_resource.uri_parameters %}
      {% assign p = p_tmp[1] %}
      <tr>
        <td><code>{{ p.name. }}</code></td>
        <td><strong>{{ p.type. }}</strong></td>
        <td>
          {% if p.description %}<div>{{ p.description | markdownify }}</div>{% endif %}
          <div>Required: <code>{{ p.required }}</code></div>
          {% if p.example %}<div>Example: <code>{{ p.example }}</code></div>{% endif %}
          {% if p.default %}<div>Default: <code>{{ p.default }}</code></div>{% endif %}
          {% if p.minimum %}<div>Minimum: {{ p.minimum }}</div>{% endif %}
          {% if p.maximum %}<div>Maximum: {{ p.maximum }}</div>{% endif %}
          {% if p.repeat %}<div>Repeat: <code>{{ p.repeat }}</code></div>{% endif %}
          {% if p.enum != empty %}<div>Enum: <code>{{ p.enum | join:',' }}</code></div>{% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if page.raml_method.query_parameters != empty %}
  <h2>Query parameters</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for p_tmp in page.raml_method.query_parameters %}
      {% assign p = p_tmp[1] %}
      <tr>
        <td><code>{{ p.name. }}</code></td>
        <td><strong>{{ p.type. }}</strong></td>
        <td>
          {% if p.description %}<div>{{ p.description | markdownify }}</div>{% endif %}
          <div>Required: <code>{{ p.required }}</code></div>
          {% if p.example %}<div>Example: <code>{{ p.example }}</code></div>{% endif %}
          {% if p.default %}<div>Default: <code>{{ p.default }}</code></div>{% endif %}
          {% if p.minimum %}<div>Minimum: {{ p.minimum }}</div>{% endif %}
          {% if p.maximum %}<div>Maximum: {{ p.maximum }}</div>{% endif %}
          {% if p.repeat %}<div>Repeat: <code>{{ p.repeat | join:',' }}</code></div>{% endif %}
          {% if p.enum != empty %}<div>Enum: <code>{{ p.enum | join:',' }}</code></div>{% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if page.raml_method.bodies != empty %}
  <h2>Request bodies</h2>
  {% for body_tmp in page.raml_method.bodies %}
    {% assign body = body_tmp[1] %}
    <p>Media type <code>{{ body.media_type }}</code></p>
    {% if body.example %}
      <pre class="pre-scrollable">{{ body.example }}</pre>
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.raml_method.responses != empty %}
  <h2>Responses</h2>
  {% for res_tmp in page.raml_method.responses %}
    {% assign res = res_tmp[1] %}
    <h3>HTTP {{ res.status_code }} {{ res.display_name }}</h3>
    {% if res.description != null %}
      <p>{{ res.description | markdownify }}</p>
    {% endif %}

    {% for body_tmp in res.bodies %}
      {% assign body = body_tmp[1] %}
      <p>Media type <code>{{ body.media_type }}</code></p>
      {% if body.example %}
        <pre class="pre-scrollable">{{ body.example }}</pre>
      {% endif %}
      {% if body.schema != null %}
        <h2>Response Attributes</h2>
        <table class="table table-bordered table-striped">
          <thead style="background-color: white;">
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
          {% assign keys = body.schema | json_keys: 'properties' %}
          {% assign properties = body.schema | json_field: 'properties' %}
          {% for key in keys %}
            {% assign p = properties[key] %}
            <tr>
              <td><code>{{ key }}</code></td>
              <td>
                {% if p.description %}<div>{{ p.description | markdownify }}</div>{% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

<h2>Code examples</h2>
<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    {% for snippet in page.raml_snippets %}
      <li role="presentation" {% if forloop.first %}class="active"{% endif %}><a href="#{{ snippet['title'] | slugify }}" aria-controls="{{ snippet['title'] | slugify }}" role="tab" data-toggle="tab">{{ snippet['title'] }}</a></li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for snippet in page.raml_snippets %}
      <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ snippet['title'] | slugify }}"><p><pre>{{ snippet['snippet'] }}</pre></p></div>
    {% endfor %}
  </div>
</div>
