---
layout: page
---

<div>
  <pre>{{ page.raml_method['method'] }} {{ page.raml_resource['relative_uri'] }}</pre>
  {% if page.raml_resource['description'] != null %}
    <p>{{ page.raml_resource['description'] | markdownify }}</p>
  {% endif %}
</div>

{% if page.raml_resource['uri_parameters'] != empty %}
<div>
 <h2>URI parameters</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for p in page.raml_resource['uri_parameters']  %}
    <tr>
      <td><code>{{ p[1]['name'] }}</code></td>
      <td><strong>{{ p[1]['type'] }}</strong></td>
      <td>
        {% if p[1]['description'] %}<div>Description: {{ p[1]['description'] }}</div>{% endif %}
        {% if p[1]['required'] %}<div>Required: <code>{{ p[1]['required'] }}</code></div>{% endif %}
        {% if p[1]['example'] %}<div>Example: <code>{{ p[1]['example'] }}</code></div>{% endif %}
        {% if p[1]['default'] %}<div>Default: <code>{{ p[1]['default'] }}</code></div>{% endif %}
        {% if p[1]['minimum'] %}<div>Minimum: {{ p[1]['minimum'] }}</div>{% endif %}
        {% if p[1]['maximum'] %}<div>Maximum: {{ p[1]['maximum'] }}</div>{% endif %}
        {% if p[1]['repeat'] %}<div>Repeat: <code>{{ p[1]['repeat'] | join:',' }}</code></div>{% endif %}
        {% if p[1]['enum'] %}<div>Enum: <code>{{ p[1]['enum'] }}</code></div>{% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if page.raml_method['query_parameters'] != empty %}
<div>
  <h2>Query parameters</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for p in page.raml_method['query_parameters'] %}
    <tr>
      <td><code>{{ p[1]['name'] }}</code></td>
      <td><strong>{{ p[1]['type'] }}</strong></td>
      <td>
        {% if p[1]['description'] %}<div>Description: {{ p[1]['description'] }}</div>{% endif %}
        {% if p[1]['required'] %}<div>Required: <code>{{ p[1]['required'] }}</code></div>{% endif %}
        {% if p[1]['example'] %}<div>Example: <code>{{ p[1]['example'] }}</code></div>{% endif %}
        {% if p[1]['default'] %}<div>Default: <code>{{ p[1]['default'] }}</code></div>{% endif %}
        {% if p[1]['minimum'] %}<div>Minimum: {{ p[1]['minimum'] }}</div>{% endif %}
        {% if p[1]['maximum'] %}<div>Maximum: {{ p[1]['maximum'] }}</div>{% endif %}
        {% if p[1]['repeat'] %}<div>Repeat: <code>{{ p[1]['repeat'] }}</code></div>{% endif %}
        {% if p[1]['enum'] %}<div>Enum: <code>{{ p[1]['enum'] | join:',' }}</code></div>{% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if page.raml_method['responses'] != empty %}
<div>
  <h2>Responses</h2>
  <table class="table">
    <thead>
    <tr>
      <th>HTTP Code</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for res in page.raml_method['responses'] %}
    <tr>
      <td><code>{{ res[1]['status_code'] }}</code></td>
      <td>{{ res[1]['description'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

<div>
  <h2>
    API console
    <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#apiconsole" aria-expanded="false" aria-controls="apiconsole">
      show/hide
    </button>
  </h2>
  <div class="collapse in" id="apiconsole">
    <form id="apiconsole-form">
      {% for p in page.raml_resource['uri_parameters'] %}
        <div class="form-group">
          <label for="parameter-uri-{{ p[1]['name'] }}">{{ p[1]['name'] }}</label>
          <input type="text" class="form-control" id="parameter-uri-{{ p[1]['name'] }}" value="{{ p[1]['example'] }}"/>
        </div>
      {% endfor %}
      {% for p in page.raml_method['query_parameters'] %}
        <div class="form-group">
          <label for="parameter-query-{{ p[1]['name'] }}">{{ p[1]['name'] }}</label>
          <input type="text" class="form-control" id="parameter-query-{{ p[1]['name'] }}" value="{{ p[1]['example'] }}"/>
        </div>
      {% endfor %}
      <input type="submit" value="Send" class="btn btn-default btn-block"/>
    </form>
    <p><pre id="apiconsole-request"></pre></p>
    <p><pre id="apiconsole-response"></pre></p>
  </div>
  <script type="text/javascript" src="{{ '/assets/javascript/apiconsole.js' | prepend: site.baseurl }}"></script>
  <script type="text/javascript">
    var ramlResource = {{ page.raml_resource | jsonify }}
    var ramlMethod = {{ page.raml_method | jsonify }}
    ApiConsole(ramlResource, ramlMethod, '#apiconsole-request', '#apiconsole-response', '#apiconsole-form');
  </script>
</div>

<div>
  <h2>
    RAW raml data
    <button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#ramlraw" aria-expanded="false" aria-controls="ramlraw">
      show/hide
    </button>
  </h2>
  <div class="collapse" id="ramlraw">
    <pre>{{ page.raml_resource | jsonify_pretty }}</pre>
    <pre>{{ page.raml_method | jsonify_pretty }}</pre>
  </div>
</div>
