---
layout: page
---

<h2 id="basic-information">Basic information</h2>

{% if page.raml_resource.description != null %}
  <p>{{ page.raml_resource.description | markdownify }}</p>
{% endif %}

<pre>{{ page.raml_method.method }} {{ page.raml_resource.relative_uri }}</pre>

{% if page.raml_method.description != null %}
  <p>{{ page.raml_method.description | delete_epages_version | markdownify }}</p>
{% endif %}


{% assign authorization = page.raml_method.secured_by | shift: 2 %}
{% if authorization != empty %}
  <strong>Authorisation</strong>
    <p>OAuth 2.0 Token required with scopes: </p>
  {% for scope in authorization %}
      <input type="checkbox" value="{{ scope }}" checked onclick="return false" style="margin-left: 15px"> {{ scope }}<br>
  {% endfor %}
{% endif %}

{% if page.raml_resource.uri_parameters != empty %}
  <h2 id="uri-parameters">URI parameters</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for p_tmp in page.raml_resource.uri_parameters %}
      {% assign p = p_tmp[1] %}
      <tr>
        <td><code>{{ p.name }}</code></td>
        <td><strong>{{ p.type }}</strong></td>
        <td>
          {% if p.description %}<div>{{ p.description | markdownify }}</div>{% endif %}
          <div>Required: <code>{{ p.required }}</code></div>
          {% if p.example %}<div>Example: <code>{{ p.example }}</code></div>{% endif %}
          {% if p.default %}<div>Default: <code>{{ p.default }}</code></div>{% endif %}
          {% if p.minimum %}<div>Minimum: {{ p.minimum }}</div>{% endif %}
          {% if p.maximum %}<div>Maximum: {{ p.maximum }}</div>{% endif %}
          {% if p.repeat %}<div>Repeat: <code>{{ p.repeat }}</code></div>{% endif %}
          {% if p.enum.size > 0 %}<div>Enum: <code>{{ p.enum | join:',' }}</code></div>{% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if page.raml_method.query_parameters != empty %}
  <h2 id="query-parameters">Query parameters</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for p_tmp in page.raml_method.query_parameters %}
      {% assign p = p_tmp[1] %}
      <tr>
        <td><code>{{ p.name }}</code></td>
        <td><strong>{{ p.type }}</strong></td>
        <td>
          {% if p.description %}<div>{{ p.description | markdownify }}</div>{% endif %}
          <div>Required: <code>{{ p.required }}</code></div>
          {% if p.example %}<div>Example: <code>{{ p.example }}</code></div>{% endif %}
          {% if p.default %}<div>Default: <code>{{ p.default }}</code></div>{% endif %}
          {% if p.minimum %}<div>Minimum: <code>{{ p.minimum }}</code></div>{% endif %}
          {% if p.maximum %}<div>Maximum: <code>{{ p.maximum }}</code></div>{% endif %}
          {% if p.repeat %}<div>Repeat: <code>{{ p.repeat | join:',' }}</code></div>{% endif %}
          {% if p.enum != empty %}<div>Enum: <code>{{ p.enum | join:',' }}</code></div>{% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if page.raml_method.bodies != empty %}
  {% for body_tmp in page.raml_method.bodies %}
    {% assign body = body_tmp[1] %}
    {% if body.media_type contains 'application/json' and body.schema != null %}
      <h2 id="request-body">Request attributes</h2>
      <table class="table table-bordered table-striped">
        <thead style="background-color: white;">
          <tr><th>Name</th><th>Type</th><th>Description</th></tr>
        </thead>
        <tbody>
          {% assign keys = body.schema | json_keys: 'properties' %}
          {% assign properties = body.schema | json_field: 'properties' %}
          {% for key in keys %}
            {% assign p = properties[key] %}
            <tr>
              <td><code>{{ key }}</code></td>
              <td>{% if p.type %}{{ p.type | markdownify }}{% endif %}</td>
              <td>{% if p.description %}<div>{{ p.description | markdownify }}</div>{% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.raml_method.bodies != empty %}
  <h2 id="request-body">Request body</h2>
  {% for body_tmp in page.raml_method.bodies %}
    {% assign body = body_tmp[1] %}
    <p>Media type <code>{{ body.media_type }}</code></p>
    {% if body.example %}
      <pre>{{ body.example | xml_escape }}</pre>
    {% endif %}
    {% if body.media_type == 'multipart/form-data' or body.media_type == 'application/x-www-form-urlencoded' %}
      <table class="table table-bordered table-striped">
        <thead style="background-color: white;">
        <tr><th>Name</th><th>Type</th><th>Description</th></tr>
        </thead>
        <tbody>
        {% for elem in body.form_parameters %}
          {% assign param = elem[1] %}
          <tr>
            <td><code>{{ param.name }}</code></td>
            <td><strong>{{ param.type }}</strong></td>
            <td>
              <div>{{ param.description | markdownify }}</div>
              <div>Required: <code>{{ p.required }}</code></div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.raml_method.responses != empty %}
  {% for res_tmp in page.raml_method.responses %}
    {% assign schema = res_tmp[1].bodies["application/json"]["schema"] %}
    {% if schema != null %}
      {% assign no_table = schema | json_keys: 'properties' | first  %}
      {% assign response = schema | json_field: 'properties' | first %}
      <h2 id="response-attributes">Response attributes</h2>
      {% if no_table == "no_table" %}
        {{ response.last | markdownify }}
      {% else %}
        <table class="table table-bordered table-striped">
          <thead style="background-color: white;">
            <tr><th>Name</th><th>Type</th><th>Description</th></tr>
          </thead>
          <tbody>
            {% assign keys = schema | json_keys: 'properties' %}
            {% assign properties = schema | json_field: 'properties' %}
            {% for key in keys %}
              {% assign p = properties[key] %}
              <tr>
                <td><code>{{ key }}</code></td>
                <td>{% if p.type %}{{ p.type | markdownify }}{% endif %}</td>
                <td>{% if p.description %}<div>{{ p.description | markdownify }}</div>{% endif %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endif %}
  {% endfor %}

  <h2 id="response">Response</h2>
  {% for res_tmp in page.raml_method.responses %}
    {% assign res = res_tmp[1] %}
    <strong>HTTP {{ res.status_code }} {{ res.display_name }}</strong>
    {% if res.description != null %}<p>{{ res.description | markdownify }}</p>{% endif %}

    {% for body_tmp in res.bodies %}
      {% assign body = body_tmp[1] %}
      <p>Media type <code>{{ body.media_type }}</code></p>
      {% if body.example %}<pre>{{ body.example | xml_escape }}</pre>{% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
