---
layout: page
title_hidden: true
---

<div class="page-header">
  <a class="btn btn-ghost pull-right" href="{{ page.url | regex_replace: '\-console.html$', '.html' | prepend: site.baseurl }}">Documentation</a>
  <h1>{{ page.title }}</h1>
</div>

<h2>Parameters</h2>

<form id="apiconsole-form" class="form">
  {% for p_tmp in page.raml_resource.uri_parameters %}
    {% assign p = p_tmp[1] %}
    <div class="form-group">
      <label class="control-label" for="parameter-uri-{{ p.name }}">{{ p.name }}</label>
      <input class="form-control" type="text" id="parameter-uri-{{ p.name }}" value="{{ p.example }}"/>
      {% if p.description %}
        <span class="help-block">{{ p.description | markdownify | strip_html | truncatewords: 10 }}</span>
      {% endif %}
    </div>
  {% endfor %}
  {% for p_tmp in page.raml_method.query_parameters %}
    {% assign p = p_tmp[1] %}
    <div class="form-group">
      <label class="control-label" for="parameter-query-{{ p.name }}">{{ p.name }}</label>
      <input type="text" class="form-control" id="parameter-query-{{ p.name }}" value="{{ p.example }}"/>
      {% if p.description %}
        <span class="help-block">{{ p.description | markdownify | strip_html | truncatewords: 75 }}</span>
      {% endif %}
    </div>
  {% endfor %}
  {% if page.raml_method.method == 'POST' or page.raml_method.method == 'PUT' %}
    <div class="form-group">
      <label class="control-label" for="request-body">Body</label>
      <textarea class="form-control" id="request-body" rows="8" style="font-family: monospace;">{{ page.raml_method.bodies['application/json'].example }}</textarea>
    </div>
  {% endif %}
  <div class="form-group">
    <button type="submit" class="btn btn-default">Send</button>
  </div>
</form>

<h2>Request</h2>
<pre id="apiconsole-request"></pre>

<h2>Response</h2>
<pre id="apiconsole-response">(Click Send...)</pre>

<script type="text/javascript" src="{{ '/assets/javascript/apiconsole.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  var ramlResource = {{ page.raml_resource | jsonify }}
  var ramlMethod = {{ page.raml_method | jsonify }}
  ApiConsole(ramlResource, ramlMethod, '#apiconsole-request', '#apiconsole-response', '#apiconsole-form');
</script>
