---
layout: page
hide_searchbar: true
searchable: false
---
{% assign chapter = page.url | regex_extract: '^/([^/]+)/' %}

<div id="search">
  <form method="get" autocomplete="off">
    <div class="form-group">
      <label for="search-box">Search</label>
      <input data-bind="value: query, valueUpdate: ['input', 'keyup']" name="q" id="search-box" type="text" placeholder="Enter your search here" class="form-control"/>
    </div>
  </form>

  <div data-bind="if: error">
    <div class="alert alert-danger" role="alert">
      <p data-bind="text: error"></p>
    </div>
  </div>

  <div data-bind="ifnot: error">
    <ul data-bind="foreach: results" id="search-results">
      <li class="search-result">
        <div>
          <a data-bind="text: _source.title, attr: { href: _source.url }" href="{{ '/' | prepend: site.url }}"></a>
        </div>
        <div data-bind="foreach: highlight.content">
          <span data-bind="html: $data.trim()" class="search-highlight"></span>
        </div>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  var searchUrl = '{{ '/search.json' | prepend: site.baseurl }}';
  var query = decodeURIComponent(getParameter('q', '').replace(/\+/g, ' '));
  ko.applyBindings(new SearchViewModel(searchUrl, query, '{{ chapter }}'), document.getElementById('search'));
</script>
